/* Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face{font-family:'Poppins';src:url('../fonts/Poppins-Light.eot');src:url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Poppins-Light.woff2') format('woff2'),url('../fonts/Poppins-Light.woff') format('woff'),url('../fonts/Poppins-Light.ttf') format('truetype'),url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:'Poppins';src:url('../fonts/Poppins-Regular.eot');src:url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Poppins-Regular.woff2') format('woff2'),url('../fonts/Poppins-Regular.woff') format('woff'),url('../fonts/Poppins-Regular.ttf') format('truetype'),url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');font-weight:normal;font-style:normal;font-display:swap;}
@font-face{font-family:'Poppins';src:url('../fonts/Poppins-Medium.eot');src:url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/Poppins-Medium.woff2') format('woff2'),url('../fonts/Poppins-Medium.woff') format('woff'),url('../fonts/Poppins-Medium.ttf') format('truetype'),url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'Poppins';src:url('../fonts/Poppins-Bold.eot');src:url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Poppins-Bold.woff2') format('woff2'),url('../fonts/Poppins-Bold.woff') format('woff'),url('../fonts/Poppins-Bold.ttf') format('truetype'),url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');font-weight:bold;font-style:normal;font-display:swap;}
@font-face{font-family:'Poppins';src:url('../fonts/Poppins-SemiBold.eot');src:url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),url('../fonts/Poppins-SemiBold.woff2') format('woff2'),url('../fonts/Poppins-SemiBold.woff') format('woff'),url('../fonts/Poppins-SemiBold.ttf') format('truetype'),url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');font-weight:600;font-style:normal;font-display:swap;}

:root{--content:#565267;--black:#222222;--white:#ffffff;--green:#249f8d;--footerBg:#F5F1F1;--yellow:#F6CB48;--lightYellow:#FFECB0;--poppins-Fonts:'Poppins',sans-serif;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;list-style:none;text-decoration:none;outline: none !important;}
html {scroll-behavior: smooth;overflow-x: hidden;}
body{font-size:16px;font-family: var(--poppins-Fonts);color: var(--content);overflow-x: hidden;line-height: 28px;}
input, button, select, textarea{font-family: var(--poppins-Fonts);}
img{width: 100%;}
h1, h2, h3, h4, h5, h6{color: var(--black);}
a {color: var(--content);cursor: pointer;}

/* CommonClass */
.txtCenter{text-align: center;}
.container{width:100%;max-width:1210px;margin:0 auto;padding-left:15px;padding-right:15px;}
.secTopBotPad{padding-top: 70px;padding-bottom: 70px;}
/* Section Heading */
.sectionHeadingFullPart .sectionHeading {font-size: 28px;line-height: 42px;color: var(--black);font-weight: 500;}
.sectionHeadingFullPart p {margin-top: 20px;}

/* Header */
.siteHeader{padding:20px 0;background:var(--white);box-shadow:0px 4px 4px rgba(0,0,0,0.05);position:fixed;width:100%;z-index:9999;top:0;}
.siteHeader .headerWrap{display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;}
.siteHeader .headerWrap .headerLogo a{display:flex;}
.siteHeader .headerWrap .headerMenu ul{display:flex;align-items:center;flex-wrap:wrap;}
.siteHeader .headerWrap .headerMenu ul li {margin-left: 50px;}
.siteHeader .headerWrap .headerMenu ul li:first-child{margin-left: 0;}
.siteHeader .headerWrap .headerMenu ul li a {color: var(--black);transition: .5s all;}
.siteHeader .headerWrap .headerMenu ul li a.active, .siteHeader .headerWrap .headerMenu ul li a:hover {color: var(--green);}
.siteHeader.headerSticky{animation-duration:1s;transition:all 0.5s;animation-name:headerDown;padding:10px 0;}
@keyframes headerDown {0% {transform: translate3d(0px, -100%, 0px);}100% {transform: translate3d(0px, 0px, 0px);}}

/* Toggle Menu Line */
.siteHeader .headerMenu .menu-handler{display:none;height:30px;width:30px;margin:10px 0 0 auto;}
.siteHeader .headerMenu .menu-handler span{background-color:var(--black);float:left;height:2px;margin-bottom:5px;width:75%;}

/* Fotoer */
.siteFooter{background:var(--footerBg);padding:25px 0;}
.siteFooter p{font-weight:normal;font-size:14px;line-height:21px;}

/* Home Banner */
.homeBannerSection {position: relative;margin-top: 100px;}
.homeBannerSection .bannerWrap {display: flex;flex-wrap: wrap;padding: 60px 0;position: relative;}
.homeBannerSection .bannerWrap .bannerHeading{font-weight:bold;font-size:64px;line-height:80px;color:var(--black);}
.homeBannerSection .bannerWrap .leftPart p{font-weight:normal;font-size:18px;margin-top: 38px;}
.homeBannerSection .bannerWrap .leftPart{padding-right:60px;width: 50%;}
.homeBannerSection .bannerWrap .rightPart {width: 50%;}
.homeBannerSection .bannerWrap .bannerMainImg{display:flex;align-items:center;justify-content:center;padding:0 50px;}
.homeBannerSection:before {position: absolute;content: '';right: 0;top: 0;bottom: 0;background: var(--yellow);width: 20%;z-index: -1;}
.homeBannerSection .bannerWrap .rightPart:before {position: absolute;content: '';right: 0;top: 0;bottom: 0;width: 158px;z-index: -1;background: var(--yellow);}
.homeBannerSection .bannerDotLineImg{position:absolute;left:0px;top:40px;display:flex;align-items:center;width:1000px;z-index:-1;height:400px;}
.homeBannerSection .bannerDotLineImg img{object-fit:cover;}
.homeBannerSection .bannerFractoText{-webkit-text-stroke:1px rgb(0 0 0 / 0.2);color:white;font-weight:bold;font-size:96px;line-height:80px;position:absolute;bottom:0;left:0;}

/* Home About Section */
.homeAboutSection{padding-top:20px}
.homeAboutSection .homeAboutWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.homeAboutSection .homeAboutWrap > div{width:calc(100% / 2 - 0px);}
.homeAboutSection .homeAboutWrap .rightPart{padding-left:92px;}

/* Why Invest Fractoprop */
.whyInvestHome .memberSubHead{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:10px;flex-direction: column;}
.whyInvestHome .memberSubHead .memberIcon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom: 30px;}
.whyInvestHome .memberSubHead .memberBoxHead{font-weight:500;font-size:18px;line-height:27px;color: var(--black);}
.whyInvestHome .memberBoxWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-20px;margin-right:-20px;padding-top: 60px;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.whyInvestHome .memberBoxWrap .memberBox{width:calc(100% / 3 - 40px);-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);border-radius:20px;padding:33px 20px;margin:10px 10px;}

/* Technology Left Silder Slider */
.technologyLeftSlider .techMainPart{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top: 70px;}
.technologyLeftSlider .techMainPart > div{width:calc(100% / 2 - 0px);}
.technologyLeftSlider .techMainPart .rightPart{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.technologyLeftSlider .techMainPart .rightPart .techRightBox{width:calc(100% / 2 - 30px);margin:15px 15px;}
.technologyLeftSlider .techMainPart .rightPart .techRightBox .techHeadIcon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-right:20px;}
.technologyLeftSlider .techMainPart .rightPart .techRightBox .techHeadIcon img{width:auto;}
.technologyLeftSlider .techMainPart .rightPart .techRightBox .techBoxHead{font-weight:500;font-size:18px;line-height:27px;color:var(--black);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.technologyLeftSlider .techMainPart .rightPart .techRightBox .techImgHead{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:10px;}
.technologyLeftSlider .techMainPart .leftPart{padding-right:100px;}
.technologyLeftSlider .leftTechSlider .slick-dots li button{border:1px solid var(--yellow);border-radius:100%;width:10px;height:10px;padding:0;cursor: pointer;}
.technologyLeftSlider .leftTechSlider .slick-dots li button:before{display: none;}
.technologyLeftSlider .leftTechSlider .slick-dots li{width:10px;height:10px;}
.technologyLeftSlider .leftTechSlider .slick-dots li.slick-active{background:var(--yellow);border-radius:100px;}
.technologyLeftSlider .techMainPart .leftPart .leftTechSlider {margin-bottom: 0;}

/* About Upcoming Opp Section */
.aboutUpcomingOppSection .comingOppMain{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.aboutUpcomingOppSection .comingOppMain > div{width:50%;}
.aboutUpcomingOppSection .comingOppNumber{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:30px;padding-right:20px;}
.aboutUpcomingOppSection .comingOppNumber .numberBox{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom: 30px;position: relative;}
.aboutUpcomingOppSection .comingOppNumber .numberBox span{font-weight:bold;font-size:64px;line-height:96px;color:var(--lightYellow);position:absolute;left:0;}
.aboutUpcomingOppSection .comingOppNumber .numberBox .appNumberHead{font-weight:500;font-size:18px;line-height:27px;margin-left:55px;z-index:1;color: var(--black);}
.aboutUpcomingOppSection .comingOppMain .leftPart{padding-right:80px;}
.aboutUpcomingOppSection .comingOppMain .rightPart {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.aboutUpcomingOppSection .comingOppMain .leftPart .sectionHeadingFullPart p {margin-top: 0;}
.aboutUpcomingOppSection .comingOppMain .leftPart .sectionHeadingFullPart p strong {color: var(--black);}
.aboutUpcomingOppSection .comingOppMain .leftPart .sectionHeadingFullPart .sectionHeading {margin-bottom: 20px;}

/* Home Testimonial */
.homeTestimonialSection .testimonailMainWrap{display:flex;flex-wrap:wrap;margin-top:100px;margin-left:-10px;margin-right:-10px;align-items: flex-start;margin-bottom: 40px;}
.homeTestimonialSection .testimonailMainWrap .testiBox{width:calc(100% / 3 - 20px);box-shadow:0 0 30px rgba(0,0,0,0.1);border-radius:20px;background-color:var(--white);padding:0 20px 20px;margin:0 10px;}
.homeTestimonialSection .testimonailMainWrap .testimonialImg{display:flex;align-items:center;justify-content:center;height:120px;width:120px;border-radius:5px;margin-left:auto;margin-right:auto;margin-top:-45px;}
.homeTestimonialSection .testimonailMainWrap .testimonialImg img{border-radius:10px;}
.homeTestimonialSection .testimonailMainWrap .testimonialHeading{font-weight:500;font-size:22px;line-height:33px;color:var(--black);margin-top:30px;margin-bottom:20px;}
.homeTestimonialSection .testimonailMainWrap .testiBox:first-child, .homeTestimonialSection .testimonailMainWrap .testiBox:last-child {margin-top: 35px;}

/* Media Query */
@media(min-width:1921px){
    /* Home Banner */
    .homeBannerSection:before {width: 29%;}
}
@media(min-width:2800px){
    /* Home Banner */
    .homeBannerSection:before {width: 34%;}
}

@media (max-width: 1500px){
    /* Home Banner */
    .homeBannerSection:before {width: 15%;}
    .homeBannerSection .bannerDotLineImg {top: 30px;width: 60%;height: auto;}
    .homeBannerSection .bannerWrap .bannerHeading {font-size: 50px;line-height: 65px;}
}

@media(max-width: 1279px){
    .secTopBotPad {padding-top: 50px;padding-bottom: 50px;}
    .container {max-width: 960px;}

    /* Header */
    .siteHeader .headerWrap .headerMenu ul li {margin-left: 25px;}

    /* Home Banner */
    .homeBannerSection .bannerWrap .bannerHeading {font-size: 40px;line-height: 50px;}
    .homeBannerSection .bannerWrap .leftPart p{margin-top:20px;font-size:16px;}
    .homeBannerSection .bannerFractoText{font-size:70px;}
    .homeBannerSection .bannerWrap .rightPart:before{display: none;}

    /* Home About Section */
    .homeAboutSection .homeAboutWrap .rightPart {padding-left: 50px;}
    .homeAboutSection {padding-top: 0;}

    /* Technology Left Silder Slider */
    .technologyLeftSlider .techSlideHead {width: 100%;margin-bottom: 50px;}
    .technologyLeftSlider .siteYellowBtn {margin-top: 40px;}
}

@media(max-width: 1023px){
    .container {max-width: 720px;}
    .secTopBotPad {padding-top: 30px;padding-bottom: 30px;}
    .sectionHeadingFullPart p br{display: none;}

    /* Header */
    .siteHeader {padding: 10px 0;}
    .siteHeader.headerSticky {animation: none;}
    .siteHeader .headerWrap .headerMenu ul{display:none;position:absolute;left:0;right:0;top:80px;background-color:var(--green);}
    .siteHeader .headerMenu .menu-handler {display: block;}
    .siteHeader .headerWrap .headerMenu ul li{margin-left:0;}
    .siteHeader .headerWrap .headerMenu ul li a {display: block;padding: 10px 20px;border-bottom: 1px solid rgb(255 255 255 / 30%);color: var(--white);}
    .siteHeader .headerWrap .headerMenu ul li a.active, .siteHeader .headerWrap .headerMenu ul li a:hover {color: var(--yellow);}
    .siteHeader .headerMenu .menu-handler span {-webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear;transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear;-o-transition: transform 0.2s linear, top 0.2s linear 0.2s;transition: transform 0.2s linear, top 0.2s linear 0.2s;transition: transform 0.2s linear, top 0.2s linear 0.2s, -webkit-transform 0.2s linear;}
    .siteHeader .headerMenu .menu-handler.toggleActive span:nth-child(1){-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all 0.2s linear,-webkit-transform 0.2s linear 0.2s;transition:all 0.2s linear,-webkit-transform 0.2s linear 0.2s;-o-transition:all 0.2s linear,transform 0.2s linear 0.2s;transition:all 0.2s linear,transform 0.2s linear 0.2s;transition:all 0.2s linear,transform 0.2s linear 0.2s,-webkit-transform 0.2s linear 0.2s;margin-bottom:0;}
    .siteHeader .headerMenu .menu-handler.toggleActive span:nth-child(2){background-color:transparent;-webkit-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;margin-bottom:0;}            
    .siteHeader .headerMenu .menu-handler.toggleActive span:nth-child(3){top:0;-webkit-transition:all 0.2s linear,-webkit-transform 0.2s linear 0.2s;transition:all 0.2s linear,-webkit-transform 0.2s linear 0.2s;-o-transition:all 0.2s linear,transform 0.2s linear 0.2s;transition:all 0.2s linear,transform 0.2s linear 0.2s;transition:all 0.2s linear,transform 0.2s linear 0.2s,-webkit-transform 0.2s linear 0.2s;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);margin-bottom:0px;margin-top:-4px;}
    .siteHeader .headerMenu .menu-handler.toggleActive {margin-top: 0;}
    .siteHeader .headerMenu .menu-handler{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}

    /* Home Banner */
    .homeBannerSection {margin-top: 80px;}
    .homeBannerSection .bannerWrap .bannerMainImg {padding: 0;}
    .homeBannerSection .bannerWrap .leftPart{padding-right:30px;}
    .homeBannerSection .bannerWrap .bannerHeading{font-size:35px;line-height:45px;}
    .homeBannerSection .bannerFractoText{font-size:60px;line-height:1;}
    .homeBannerSection .bannerWrap{padding:30px 0;}

    /* Home About Section */
    .homeAboutSection{padding-top:0;}
    .homeAboutSection .homeAboutWrap > div {width: 100%;}
    .homeAboutSection .homeAboutWrap {-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;}
    .homeAboutSection .homeAboutWrap .rightPart {padding-left: 0;margin-bottom: 30px;}

    /* Why Invest Fractoprop */
    .whyInvestHome .memberBoxWrap {margin-right: 0;margin-left: 0;padding-top: 30px;}
    .whyInvestHome .memberBoxWrap .memberBox{width:calc(100% / 2 - 20px);margin:10px 10px ;}

    /* Technology Left Silder Slider */
    .technologyLeftSlider .techMainPart > div{width:100%;}
    .technologyLeftSlider .techMainPart .leftPart{padding-right:0;margin-bottom:60px;}
    .technologyLeftSlider .techMainPart .leftPart .leftTechSlider .slick-dots{bottom:-20px;}
    .technologyLeftSlider .techMainPart .leftPart .techSliderImg img {width: 70%;margin: 0 auto;}
    .technologyLeftSlider .techMainPart .rightPart {margin-left: 0;margin-right: 0;}
    .technologyLeftSlider .techMainPart {margin-top: 30px;}

    /* About Upcoming Opp Section */
    .aboutUpcomingOppSection .comingOppMain .leftPart {width: 100%;padding-right: 0;}
    .aboutUpcomingOppSection .comingOppMain .rightPart {width: 100%;justify-content: center;}
    .aboutUpcomingOppSection .comingOppMain .rightPart img {width: 70%;}
    .aboutUpcomingOppSection .comingOppNumber .numberBox {margin-bottom: 40px;}
    .aboutUpcomingOppSection .comingOppMain .leftPart .siteBtn {margin-top: 40px;}

    /* Testimonial */
    .homeTestimonialSection .testimonailMainWrap {margin-top: 80px;margin-bottom: 20px;}
    .homeTestimonialSection .testimonailMainWrap .testiBox:first-child, .homeTestimonialSection .testimonailMainWrap .testiBox:last-child {margin-top: 0;}
    .homeTestimonialSection .testimonailMainWrap .testiBox {margin-bottom: 70px;width: 100%;padding: 0 20px 25px;}
    .homeTestimonialSection .testimonailMainWrap .testiBox:last-child{margin-bottom: 0;}
    .homeTestimonialSection .testimonailMainWrap .testiBox p {height: inherit !important;}
    .homeTestimonialSection .testimonailMainWrap .testimonialHeading {margin-top: 15px;margin-bottom: 10px;}
}

@media(max-width:767px){
    .sectionHeadingFullPart p br{display: none;}
    .sectionHeadingFullPart .sectionHeading {font-size: 24px;line-height: 40px;}
    .sectionHeadingFullPart p {margin-top: 10px;}

    /* Header */
    .siteHeader .headerWrap .headerLogo a img {width: 40px;object-fit: cover;height: auto;object-position: center center;}
    .siteHeader .headerWrap .headerMenu ul {top: 64px;}

    /* Home Banner */
    .homeBannerSection {margin-top: 64px;}
    .homeBannerSection .bannerWrap .bannerHeading {font-size: 28px;line-height: 40px;}
    .homeBannerSection .bannerWrap .leftPart p {margin-top: 10px;}
    .homeBannerSection .bannerFractoText {font-size: 50px;}

    /* Why Invest Fractoprop */
    /* .whyInvestHome .memberBoxWrap .memberBox .memberContent{display:none;} */
    .whyInvestHome .memberSubHead{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
    .whyInvestHome .memberBoxWrap{margin-left:-10px;}
    .whyInvestHome .memberSubHead .memberIcon{margin-bottom:20px;margin-right: 0;}

    /* Technology Left Silder Slider */
    .technologyLeftSlider .siteYellowBtn {margin-top: 10px;}
    .technologyLeftSlider .techSlideHead {margin-bottom: 30px;}
    .technologyLeftSlider .techMainPart .leftPart {margin-bottom: 40px;}
}

@media(max-width:567px){
    .sectionHeadingFullPart .sectionHeading {font-size: 22px;line-height: 40px;}

    /* Home Banner */
    .homeBannerSection:before{display: none;}
    .homeBannerSection .bannerWrap .leftPart{width:100%;padding-right:0;margin-top:20px;}
    .homeBannerSection .bannerWrap .rightPart {width: 100%;}
    .homeBannerSection .bannerWrap {flex-direction: column-reverse;padding-bottom: 65px;}

    /* Home About Section */
    .homeAboutSection {padding-top: 30px;}

    /* Why Invest Fractoprop */
    .whyInvestHome .memberBoxWrap{margin-left:0;margin-right:0;}
    .whyInvestHome .memberBoxWrap .memberBox {width: 100%;margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 20px;}
    .whyInvestHome .memberBoxWrap .memberBox:last-child {margin-bottom: 0;}

    /* Technology Left Silder Slider */
    .technologyLeftSlider .techMainPart .leftPart .techSliderImg img {width: 100%;margin: 0 auto;}
    .technologyLeftSlider .techMainPart .rightPart .techRightBox {width: 100%;margin-left: 0;margin-right: 0;margin-bottom: 25px;}
    .technologyLeftSlider .techMainPart .rightPart .techRightBox:last-child {margin-bottom: 0;}

    /* About Upcoming Opp Section */
    .aboutUpcomingOppSection .comingOppMain .rightPart img{width:100%;}
    .aboutUpcomingOppSection .comingOppMain .rightPart{margin-top:30px;}
    .aboutUpcomingOppSection .comingOppNumber .numberBox{width:100%;margin-bottom:30px !important;}
    .aboutUpcomingOppSection .comingOppNumber .numberBox:last-child{margin-bottom:0 !important;}
    .aboutUpcomingOppSection .comingOppMain .leftPart .sectionHeadingFullPart .sectionHeading {margin-bottom: 10px;}
    .aboutUpcomingOppSection .comingOppNumber .numberBox .appNumberHead {font-size: 16px;line-height: 25px;}
    .aboutUpcomingOppSection .comingOppNumber .numberBox span {font-size: 55px;}
}