.aboutFlexiDeskSection {padding-top: 100px;padding-bottom: 100px;}            
.aboutFlexiDeskSection .flexiDeskContent p {margin-bottom: 25px;}
.aboutFlexiDeskSection .flexiDeskContent p:last-child {margin-bottom: 0;}
@media(max-width:1279px){
    .aboutFlexiDeskSection {padding-top: 60px;padding-bottom: 60px;}
}
@media(max-width:1023px){
    .aboutFlexiDeskSection .flexiDeskContent p {margin-bottom: 20px;}
    .aboutFlexiDeskSection {padding-top: 30px;padding-bottom: 30px;}
}

/* DevX Accel Section */
.devxAccelSection {padding-top: 100px;padding-bottom: 100px;}
.devxAccelSection .sectionhead {margin-bottom: 0;}

@media(max-width: 1279px){
    .devxAccelSection {padding-top: 60px;padding-bottom: 60px;}
}

@media(max-width: 1023px){    
    .devxAccelSection {padding-top: 30px;padding-bottom: 30px;}    
}

/* Come Work Community */
.comeWorkCommuSection {padding-top: 100px;padding-bottom: 100px;}            
.comeWorkCommuSection .sectionhead .secDoubleTextHead span {line-height: 48px;margin-top: -15px;}
.comeWorkCommuSection .siteBtn a:first-child {margin-right: 15px;}
@media(max-width: 1279px){
    .comeWorkCommuSection {padding-top: 60px;padding-bottom: 60px;}
}
@media(max-width: 1023px){
    .comeWorkCommuSection .sectionhead .secDoubleTextHead span br {display: none;}
    .comeWorkCommuSection {padding-top: 30px;padding-bottom: 30px;}
    .comeWorkCommuSection .sectionhead .secDoubleTextHead span {line-height: 40px;}
}
@media(max-width: 767px){
    .comeWorkCommuSection .sectionhead .secDoubleTextHead span {line-height: 29px;margin-top: 0;}
}
@media(max-width: 567px){                
    .comeWorkCommuSection .siteBtn a:first-child {margin-right: 0;margin-bottom: 15px;}
    .comeWorkCommuSection .siteBtn a {padding: 14px 20px;}
}

/* Quick Look Section */
.quickLookSection {padding-top: 100px;padding-bottom: 100px;}
.quickLookSection .quickLookPart{display: -webkit-box;display: -ms-flexbox;display: flex;margin-top: 50px;}
.quickLookSection .quickLookPart .mobileShow {display: none;}
.quickLookSection .quickLookPart .webShow {width: 85%;margin: 0 auto;}

@media(max-width: 1279px){
    .quickLookSection {padding-top: 60px;padding-bottom: 60px;}
}
@media(max-width: 1023px){    
    .quickLookSection {padding-top: 30px;padding-bottom: 30px;}
    .quickLookSection .quickLookPart .webShow {width: 95%;margin: 0 auto;}    
}
@media(max-width: 767px){
    
}
@media(max-width: 567px){
    .quickLookSection .quickLookPart .mobileShow {display: block;}
    .quickLookSection .quickLookPart .webShow {display: none;}
    .quickLookSection .quickLookPart .mobileShow {width: 85%;margin: 0 auto;}
    .quickLookSection .quickLookPart {margin-top: 30px;}
}