.alliedServiceSection {padding-top: 100px;padding-bottom: 100px;}
.alliedServiceSection .serviceDetail {margin: 0 auto;width: 95%;position: relative;}
.alliedServiceSection .serviceDetailWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:180px;}
.alliedServiceSection .serviceDetailWrap:last-child {margin-bottom: 0;}
.alliedServiceSection .serviceDetailWrap > div{width:50%;position: relative;}
.alliedServiceSection .serContentWrap .number{font-weight:500;font-size:30px;line-height:24px;color: #222222;}
.alliedServiceSection .serContentWrap .serDetailContent .AliSerDetailContentHead {margin-bottom: 35px;font-size: 24px;line-height: 34px;font-weight: 600;color: #222222;}
.alliedServiceSection .serContentWrap .serDetailContent p{line-height:24px;}
.alliedServiceSection .serContentWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: baseline;-ms-flex-align: baseline;align-items: baseline;}
.alliedServiceSection .serviceDetailWrap .serDetailContent{margin-left:35px;padding-right:90px;}
.alliedServiceSection .serviceDetailWrap .rightPart {display: -webkit-box;display: -ms-flexbox;display: flex;padding-left: 65px;}
.alliedServiceSection .serviceDetail .serviceDetailWrap:nth-child(2n){-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;padding-top: 30px;}
.alliedServiceSection .serviceDetail .serviceDetailWrap:nth-child(2n) .serContentWrap .serDetailContent{margin-left:78px;padding-right:0;}
.alliedServiceSection .serviceDetail .serviceDetailWrap:nth-child(2n) .rightPart{padding-right:90px;padding-left:65px;}
.alliedServiceSection .serviceDetailWrap .rightPart > img {width: 80%;margin: 0 auto;-o-object-fit: contain;object-fit: contain;}
/* .alliedServiceSection .serviceDetail:before {position: absolute;content: '';left: 17px;top: 52px;background: url(images/line-1.png) no-repeat;width: 50%;height: 435px;background-size: cover !important;}
.alliedServiceSection .serviceDetail:after{position:absolute;content:'';left:19px;bottom:-80px;background:url(images/line-22.png) no-repeat;width:50%;height:310px;background-size:cover !important;} */
.alliedServiceSection .serviceDetailWrap .lineImg {position: absolute;top: 50px;left: 18px;width: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.alliedServiceSection .serviceDetailWrap .lineImg img {width: 100%;}
@media(max-width:1500px){
    .alliedServiceSection .serviceDetail .serviceDetailWrap:nth-child(2n) .rightPart .lineImg {height: 100%;}
    .alliedServiceSection .serviceDetailWrap {margin-bottom: 60px;}
}
@media(max-width: 1279px){
    .alliedServiceSection {padding-top: 60px;padding-bottom: 60px;}
    .alliedServiceSection .serviceDetailWrap .serDetailContent {padding-right: 0px;}
    .alliedServiceSection .serContentWrap .serDetailContent .AliSerDetailContentHead {margin-bottom: 15px;}
    .alliedServiceSection .serviceDetail .serviceDetailWrap:nth-child(2n) .serContentWrap .serDetailContent {margin-left: 30px;}
    .alliedServiceSection .serviceDetailWrap {margin-bottom: 60px;}
    .alliedServiceSection .serviceDetailWrap .rightPart {-webkit-box-align: baseline;-ms-flex-align: baseline;align-items: baseline;}
    .alliedServiceSection .serviceDetailWrap .lineImg {height: 100%;}
}
@media(max-width:1023px){
    .alliedServiceSection .serviceDetailWrap .lineImg{display:none;}
    .alliedServiceSection .serviceDetail{width:100%;}
    .alliedServiceSection .serviceDetailWrap .serDetailContent{margin-left:15px;}
    .alliedServiceSection .serContentWrap .serDetailContent .AliSerDetailContentHead{font-size:25px;margin-bottom: 10px;}
    .alliedServiceSection .serContentWrap .number{font-size:30px;}
    .alliedServiceSection .serviceDetailWrap .rightPart{-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-left:20px;}
    .alliedServiceSection .serviceDetailWrap .rightPart > img{width:100%;}
    .alliedServiceSection .serviceDetail .serviceDetailWrap:nth-child(2n) .rightPart{padding-left:0;padding-right:0;}
    .alliedServiceSection .serviceDetail .serviceDetailWrap:nth-child(2n){padding-top:0;}
    .alliedServiceSection .serviceDetailWrap{margin-bottom:50px;}
    .alliedServiceSection .serviceDetail .serviceDetailWrap:nth-child(2n) .serContentWrap .serDetailContent{margin-left:15px;}
    .alliedServiceSection {padding-top: 30px;padding-bottom: 30px;}
}
@media(max-width: 767px){
    .alliedServiceSection .serContentWrap .serDetailContent .AliSerDetailContentHead{font-size:20px;}
    .alliedServiceSection .serviceDetailWrap > div{width:100%;}
    .alliedServiceSection .serviceDetailWrap .rightPart{padding-left:0;margin-top:30px;}
    .alliedServiceSection .serContentWrap .number{font-size:20px;font-weight:600;}
    .alliedServiceSection .serviceDetailWrap{margin-bottom:30px;}
}