.pageBanner {padding-top: 45px;padding-bottom: 100px;position: relative;}
.pageBanner .contentWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.pageBanner .contentWrap .leftPart .bannerHeading{font-weight:600;font-size:48px;line-height:64px;margin-bottom: 20px;position: relative;color:#222222;}
/* .pageBanner .contentWrap .leftPart .bannerHeading:before{position:absolute;content:'';width:155px;height:3px;background-color:#93DFF6;bottom:29px;right:55px;} */
.pageBanner .contentWrap .rightPart .bannerRightImg{display:-webkit-box;display:-ms-flexbox;display:flex;padding-left:50px;position:relative;z-index:1;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.pageBanner .contentWrap > div{width:50%;}            
.pageBanner .contentWrap .leftPart {position: relative;}
.pageBanner .contentWrap .leftPart .bannerDotImg {position: absolute;bottom: -139px;right: 110px;}
.pageBanner .contentWrap .leftPart p {margin-bottom: 30px;}
.pageBanner .bannerPlayStore a{display: inline-block;}
.pageBanner .bannerPlayStore a img{width:auto;vertical-align: middle;}

/* Collab Product */
/* Landing Page */
.collabLandingPageBanner .contentWrap{position:relative;}
.collabLandingPageBanner .contentWrap .rightPart{width:100%;position:relative;}
.collabLandingPageBanner .contentWrap .rightPart .bannerRightImg{padding-left:0;width:83%;margin-left:auto;}
.collabLandingPageBanner .contentWrap .leftPart{position:absolute;z-index:1;background:#FFFFFF;-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.05);box-shadow:0px 0px 20px rgba(0,0,0,0.05);border-radius:10px;padding:40px;width: 560px;z-index: 8;}
.collabLandingPageBanner .contentWrap .rightPart .bannerDotImg{position:absolute;right:-73px;bottom:-37px;z-index:-1;}
.collabLandingPageBanner .contentWrap .rightPart .bannerGreterIcon {position: absolute;left: -103px;bottom: 25px;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.collabLandingPageBanner .bannerLeftRound {position: absolute;left: 0;top: 45px;display: -webkit-box;display: -ms-flexbox;display: flex;}
.collabLandingPageBanner .bannerRightRound {position: absolute;right: 0;top: 50%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);z-index: -1;}

/* Collab Work From Home */
.collabWorkFromHomeBanner {padding-bottom: 35px;margin-bottom: 35px;padding-top: 35px;}
.collabWorkFromHomeBanner .rightPart{position:relative;padding-left: 80px;}
.collabWorkFromHomeBanner .contentWrap .rightPart .bannerRightImg {padding-left: 0;}
.collabWorkFromHomeBanner .bannerWfhTriangle{position:absolute;top:90px;left:7%;display:-webkit-box;display:-ms-flexbox;display:flex;}
.collabWorkFromHomeBanner .bannerWfmSqareCircle {position: absolute;bottom: 42%;left: 6%;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.collabWorkFromHomeBanner .rightHalfCircle {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;bottom: 120px;right: 0;}
.collabWorkFromHomeBanner .rightPart .bannerDotImg{position:absolute;bottom:55px;left:0;z-index:-1;display: -webkit-box;display: -ms-flexbox;display: flex;}
.collabWorkFromHomeBanner:before{position:absolute;right:0;top:0;bottom:0;content:'';background:#EFFBFF;width:42%;}
.collabWorkFromHomeBanner .siteBtn{position:relative;display:inline-block;}
.collabWorkFromHomeBanner .siteBtn:before{position:absolute;content:'';right:-55px;bottom:-15px;width:13px;height:13px;background:#CDF2FD;border-radius:100px;}
.collabWorkFromHomeBanner .leftPart:before{position:absolute;content:'';width:21px;height:21px;background:#CDF2FD;border-radius:100px;top:-150px;right:185px;}
.collabWorkFromHomeBanner .contentWrap .rightPart .bannerRightImg:before{position:absolute;content:'';width:21px;height:21px;border-radius:100px;background:#BBE1EC;top:35%;right:-70px;}
.collabWorkFromHomeBanner .contentWrap .rightPart .bannerRightImg img {border-radius: 20px;}
.collabWorkFromHomeBanner .contentWrap .leftPart p {margin-bottom: 50px;}

/* Collab Manage Office */
.collabManaOffPageBannerSection {padding-bottom: 40px;margin-bottom: 70px;}
.collabManaOffPageBannerSection .container {position: relative;}
.collabManaOffPageBannerSection .rightPart .bannerRightImg {padding-left: 30px !important;}
.collabManaOffPageBannerSection .rightPart {position: relative;}
.collabManaOffPageBannerSection .rightPart .bannerWaweImg {position: absolute;bottom: 65px;left: 80px;display: -webkit-box;display: -ms-flexbox;display: flex;}
.collabManaOffPageBannerSection .rightPart .banDotsimg{position:absolute;right:-55px;bottom:190px;z-index:-1;display: -webkit-box;display: -ms-flexbox;display: flex;}
.collabManaOffPageBannerSection .leftCurve {position: absolute;left: 0;top: 20px;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.collabManaOffPageBannerSection .contentWrap .leftPart p {margin-bottom: 100px;}
.collabManaOffPageBannerSection .leftTriangle {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;left: 6%;bottom: 0;z-index: -1;}
.collabManaOffPageBannerSection .rightTriangle {position: absolute;top: 40px;right: 0;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.collabManaOffPageBannerSection .rightCurve {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;right: 0;bottom: 25px;z-index: -1;}
.collabManaOffPageBannerSection .topTriangle {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;top: 0;left: 15px;z-index: -1;}
.collabManaOffPageBannerSection .bottomTriangle {position: absolute;bottom: 0;display: -webkit-box;display: -ms-flexbox;display: flex;right: 130px;z-index: -1;}
.collabManaOffPageBannerSection .topHalfCircle {position: absolute;top: 0;display: -webkit-box;display: -ms-flexbox;display: flex;left: 30%;z-index: -1;}

/* Collab Office Identity Banner */
.collabofficeIdentityPageBanner {padding-bottom: 30px;}
.collabofficeIdentityPageBanner:before{position:absolute;right:-110px;top:-290px;content:'';background-color:#F4FCFF;border-radius:100%;width:48%;height:909px;z-index: -3;}
.collabofficeIdentityPageBanner .officeBannerHalfCircle {position: absolute;display: -webkit-box;display: -ms-flexbox;display: flex;bottom: 80px;left: 0;z-index: -1;}
.collabofficeIdentityPageBanner .officeTriCirElement{position:absolute;top:70px;left:13%;z-index:-1;display:-webkit-box;display:-ms-flexbox;display:flex;}
.collabofficeIdentityPageBanner .officeWaweElement{position:absolute;bottom:-90px;right:50px;z-index: -1;display: -webkit-box;display: -ms-flexbox;display: flex;}
.collabofficeIdentityPageBanner .officeRightTriangleElement { display:-webkit-box; display:-ms-flexbox; display:flex;right:40px;top:110px;position:absolute;}
.collabofficeIdentityPageBanner .officeBannerDotsElement {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;bottom: 45px;right: 45px;}

/* Collab Work From Home */
.collabFlexiDeskAhmedabadBanner .contentWrap {-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
.collabFlexiDeskAhmedabadBanner {padding-bottom: 35px;margin-bottom: 35px;padding-top: 35px;}
.collabFlexiDeskAhmedabadBanner .rightPart{position:relative;padding-right: 80px;}
.collabFlexiDeskAhmedabadBanner .contentWrap .rightPart .bannerRightImg {padding-left: 0;}
.collabFlexiDeskAhmedabadBanner .bannerWfhTriangle {position: absolute;top: 30px;right: 40px;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.collabFlexiDeskAhmedabadBanner .bannerWfmSqareCircle {position: absolute;bottom: 52%;right: 6%;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.collabFlexiDeskAhmedabadBanner .rightHalfCircle {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;bottom: 120px;left: 0;}
.collabFlexiDeskAhmedabadBanner .rightPart .bannerDotImg{position:absolute;bottom:-26px;right:163px;z-index:-1;display:-webkit-box;display:-ms-flexbox;display:flex;width:22%;}
.collabFlexiDeskAhmedabadBanner:before{position:absolute;left:0;top:0;bottom:0;content:'';background:#EFFBFF;width:38%;}
.collabFlexiDeskAhmedabadBanner:after{width:299px;height:299px;background:#EFFBFF;position:absolute;content:'';bottom:0;right:-200px;border-radius:100%;}
.collabFlexiDeskAhmedabadBanner .siteBtn{position:relative;}
.collabFlexiDeskAhmedabadBanner .siteBtn:before{position:absolute;content:'';right:250px;bottom:60px;width:13px;height:13px;background:#CDF2FD;border-radius:100px;}
.collabFlexiDeskAhmedabadBanner .leftPart:before{position:absolute;content:'';width:21px;height:21px;background:#CDF2FD;border-radius:100px;top:-20px;left:180px;}
.collabFlexiDeskAhmedabadBanner .contentWrap .rightPart .bannerRightImg:before{position:absolute;content:'';width:21px;height:21px;border-radius:100px;background:#BBE1EC;top:30%;left:-70px;}
.collabFlexiDeskAhmedabadBanner .contentWrap .rightPart .bannerRightImg img {border-radius: 20px;}
.collabFlexiDeskAhmedabadBanner .contentWrap .leftPart p {margin-bottom: 50px;}

/* Collab Allied Service */
.collabAlliedServicesBanner{padding-top:100px;margin-bottom: 100px;}
.collabAlliedServicesBanner .container{position:relative;}
.collabAlliedServicesBanner .leftPart{width:100% !important;text-align:center;}
.collabAlliedServicesBanner .leftBottomCircle{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;z-index:-1;bottom:0;left:5%;}
.collabAlliedServicesBanner .leftTopTriangle{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;top:30px;left:13%;z-index:-1;}
.collabAlliedServicesBanner .twoWawesElement{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;bottom:-130px;left:20%;z-index:-1}
.collabAlliedServicesBanner .dotsElements{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;bottom:-60px;right:11%;z-index:-1}
.collabAlliedServicesBanner .rightTopDoubleCircle{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;top:115px;right:11%;z-index:-1;}
.collabAlliedServicesBanner .rightBottomTriangle{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;right:3%;bottom:-50px;z-index:-1;}

/* Collab Landlord Page Banner */
.collabLandlordBannerSection:after{display: none;}

/* Collab Broker Page Banner */
.collabBrokerBannerSection .bannerMainSideImg{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;bottom:-30px;z-index:1;right:-220px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.collabBrokerBannerSection .rightPart{position:relative;}

/* Collab Managed Office City wise page banner */
.collabManageCityPageBanner .contentWrap .leftPart {width: 630px;}

/* Collab Build Office Download PDF Page */
.buildDownloadPDFBanner .clientDetails .detailsWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom: 30px;}
.buildDownloadPDFBanner .clientDetails .detailsWrap .detailBox{width:calc(100% / 2 - 0px);margin: 13px auto;}
.buildDownloadPDFBanner .clientDetails .detailsWrap .detailBox:last-child{width:100%;}
.buildDownloadPDFBanner .clientDetails .detailsWrap .detailsHead{font-weight:600;font-size:11px;line-height:15px;color:#ABABAB;}
.buildDownloadPDFBanner .clientDetails .detailsWrap .detailsContent{font-weight:600;font-size:14px;line-height:19px;color:#222222;}
.buildDownloadPDFBanner .siteBtn a {padding: 14px 20px;}
.buildDownloadPDFBanner .siteBtn a svg {margin-right: 1px;vertical-align: middle;}
.buildDownloadPDFBanner .siteBtn a:hover svg path {fill: #327C93;}

/* Collab Mumbai Landing Page */
.collabMumbaiLandingPageBanner .contentWrap .leftPart {width: 650px;}

/* Phi Desing Expert Page Banner */
.phiDesingExpertBanner{padding-bottom:240px;}
.phiDesingExpertBanner .contentWrap .rightPart .bannerRightImg {width: 100%;}
.phiDesingExpertBanner .contentWrap .leftPart{width:84%;left:0;right:0;margin:auto;bottom:-170px;text-align: center;}
.phiDesingExpertBanner .contentWrap .leftPart > p {width: 70%;margin-left: auto;margin-right: auto;}
.phiDesingExpertBanner .contentWrap .rightPart .bannerRightImg img {border-radius: 50px;}

/* Phi Desing Technology Banner */
.phidesingTechnologyPageBanner .bottomTriangle {right: auto;left: 35%;}
.phidesingTechnologyPageBanner .contentWrap .leftPart p {margin-bottom: 0;}

/* Accel Product */
/* Landing Page */
.accelLandingPageBanner {padding-top: 150px;}
.accelLandingPageBanner .contentWrap{position:relative;}
.accelLandingPageBanner .contentWrap .rightPart{position:relative;}
.accelLandingPageBanner .contentWrap .leftPart .bannerDotImg{position:absolute;z-index:-1;width:20%;display:-webkit-box;display:-ms-flexbox;display:flex;top:-100px;bottom:auto;right:26%;z-index: -1;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.accelLandingPageBanner .contentWrap .leftPart .bannerGreterIcon{position:absolute;left:-80px;bottom:-90px;display:-webkit-box;display:-ms-flexbox;display:flex;z-index:-1;width:40%;z-index: -1;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.accelLandingPageBanner .bannerLeftRound {position: absolute;left: 0;top: 45px;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.accelLandingPageBanner .bannerRightRound {position: absolute;right: 0;top: 50%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);z-index: -1;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.accelLandingPageBanner .contentWrap .rightPart .bannerRightImg{padding-left:0;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.accelLandingPageBanner .contentWrap .leftPart p{margin-bottom:0;}
.accelLandingPageBanner .contentWrap .leftPart {padding-right: 55px;}

/* Cohort Page */
.accelLandingPageBanner .contentWrap .leftPart .siteAccelBtn {margin-top: 30px;}

/* Accel DBC Bank Page */
.accelDbcBankBanner .contentWrap .leftPart {width: 565px;}

/* DevX Venture Fund */
.ventureFundBannerSection {padding-top: 100px;}
.ventureFundBannerSection .contentWrap .rightPart .bannerRightImg img {width: auto;}
.ventureFundBannerSection .ventureFundBanner{font-weight:600;font-size:24px;line-height:28px;color:#797687;margin-bottom:40px;margin-top:-15px;}

/* Haas Landing Page */
.haasLandingPageBanner {padding-top: 120px;padding-bottom: 200px;}
.haasLandingPageBanner .container {position: relative;}
.haasLandingPageBanner .rightPart .bannerWaweImg{position:absolute;bottom:0;right:0;display:-webkit-box;display:-ms-flexbox;display:flex;z-index:-1;}
.haasLandingPageBanner .rightPart .banDotsimg{position:absolute;right:-190px;z-index:-1;display:-webkit-box;display:-ms-flexbox;display:flex;top:20px;}
.haasLandingPageBanner .topTriangle{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;top:-90px;left:15px;z-index:-1;}
.haasLandingPageBanner .bottomTriangle{position:absolute;bottom:-90px;display:-webkit-box;display:-ms-flexbox;display:flex;right:130px;z-index:-1;}
.haasLandingPageBanner .leftTriangle{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;left:5%;bottom:70px;z-index:-1;}

/* Innovent Landing Page */
.innoventLandingBanner {padding-top: 100px;}
.innoventLandingBanner .leftPart {width: 100% !important;text-align: center;}
.innoventLandingBanner .rightPart {width: 100% !important;text-align: center;position: relative;}
.innoventLandingBanner .contentWrap .rightPart .bannerRightImg {padding-left: 0;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;margin-top: 30px;}
.innoventLandingBanner .contentWrap .rightPart .bannerRightImg img {width: 65%;}
.innoventLandingBanner .leftHalfCurve {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;top: 40px;left: 0;z-index: -1;}
.innoventLandingBanner .rightHalfCurve{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;bottom:27%;right:0;z-index:-1;}
.innoventLandingBanner .bannerLeftTriangel {position: absolute;display: -webkit-box;display: -ms-flexbox;display: flex;bottom: 20px;left: -40px;z-index: -1;}
.innoventLandingBanner .rightPart .bannerRightTriangel {position: absolute;display: -webkit-box;display: -ms-flexbox;display: flex;top: 70px;right: 0;z-index: -1;}
.innoventLandingBanner .bannerRightCircle{position:absolute;right:-200px;top:-30px;display:-webkit-box;display:-ms-flexbox;display:flex;z-index:-1;}
.innoventLandingBanner .rightPart .bannerRightDots{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;left:-30px;bottom:30%;z-index:-1;}

/* Consight Landing Page */
.consightLandingBanner {padding-top: 100px;padding-bottom: 200px;}
/* .consightLandingBanner .leftPart {width: 100% !important;text-align: center;}
.consightLandingBanner .rightPart {width: 100% !important;text-align: center;position: relative;} */
.consightLandingBanner .contentWrap .rightPart{position: relative;}
.consightLandingBanner .contentWrap .rightPart .bannerRightImg {padding-left: 0;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;padding-top: 100px;}
.consightLandingBanner .leftHalfCurve {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;top: 40px;left: 0;z-index: -1;}
.consightLandingBanner .rightHalfCurve{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;bottom:27%;right:0;z-index:-1;}
.consightLandingBanner .bannerLeftTriangel {position: absolute;display: -webkit-box;display: -ms-flexbox;display: flex;bottom: 20px;left: -40px;z-index: -1;}
.consightLandingBanner .rightPart .bannerRightTriangel{position:absolute;display:-webkit-box;display:-ms-flexbox;display:flex;top:0;left:44%;z-index:-1;}
.consightLandingBanner .bannerRightCircle{position:absolute;left:-60px;bottom:-170px;display:-webkit-box;display:-ms-flexbox;display:flex;z-index:-1;}
.consightLandingBanner .bannerRightDots{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;right:250px;bottom:-10px;z-index:-1;}
.consightLandingBanner .contentWrap .rightPart .bannerRightImg img {object-fit: contain;width: auto;}

/* Home Page Banner */
/* .home-template .homeBannerSection {margin-top: 100px;}
.homeBannerSection {padding-top: 45px;padding-bottom: 100px;position: relative;}
.homeBannerSection .contentWrap .leftPart .bannerHeading{font-weight:600;font-size:48px;line-height:64px;margin-bottom: 20px;position: relative;color:#222222;}
.homeBannerSection .contentWrap .rightPart .bannerRightImg{display:-webkit-box;display:-ms-flexbox;display:flex;padding-left:50px;position: relative;z-index: 1;padding-left:0;width:83%;margin-left:auto;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.homeBannerSection .contentWrap .leftPart p {margin-bottom: 30px;}
.homeBannerSection .container {position: relative;}
.homeBannerSection .contentWrap .homeSliderBox{width:100%;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.homeBannerSection .contentWrap .rightPart{width:100%;position:relative;}
.homeBannerSection .contentWrap .leftPart{position:absolute;z-index:1;background:#FFFFFF;-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.05);box-shadow:0px 0px 20px rgba(0,0,0,0.05);border-radius:10px;padding:40px;width: 560px;z-index: 8;margin-left: 10px;}
.homeBannerSection .bannerDotImg{position:absolute;right:-73px;bottom:-37px;z-index:-1;}
.homeBannerSection .bannerGreterIcon {position: absolute;left: -103px;bottom: 25px;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.homeBannerSection .bannerLeftRound {position: absolute;left: 0;top: 45px;display: -webkit-box;display: -ms-flexbox;display: flex;z-index:-1;}
.homeBannerSection .bannerRightRound {position: absolute;right: 0;top: 50%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);z-index: -1;} */
/* New Home Page Banner */
.home-template .homeBannerSection {margin-top: 100px;}
.homeBannerSection {padding-top: 45px;padding-bottom: 100px;position: relative;}
.homeBannerSection .contentWrap .bannerHeading{font-weight:600;font-size:48px;line-height:64px;margin-bottom: 20px;position: relative;color:#222222;}
.homeBannerSection .contentWrap p {margin-bottom: 30px;}
.homeBannerSection .container {position: relative;}
.homeBannerSection .contentWrap .homeSliderBox{width:100%;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.homeBannerSection .bannerDotImg{position:absolute;right:-73px;bottom:-37px;z-index:-1;}
.homeBannerSection .bannerGreterIcon {position: absolute;left: -103px;bottom: 25px;display: -webkit-box;display: -ms-flexbox;display: flex;z-index: -1;}
.homeBannerSection .bannerLeftRound {position: absolute;left: 0;top: 45px;display: -webkit-box;display: -ms-flexbox;display: flex;z-index:-1;}
.homeBannerSection .bannerRightRound {position: absolute;right: 0;top: 50%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);z-index: -1;}
.homeBannerSection .contentWrap{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.homeBannerSection .contentWrap .block-media {width: 83%;margin-left: auto;}
.homeBannerSection .contentWrap .block-text{position:absolute;z-index:1;background:#FFFFFF;-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.05);box-shadow:0px 0px 20px rgba(0,0,0,0.05);border-radius:10px;padding:40px;width:560px;z-index:8;margin-left:10px;}
.homeBannerSection .contentWrap .block-text .slick-slider {margin-bottom: 0;}
.homeBannerSection .contentWrap .block-media .slick-slider {margin-bottom: 0;}

/* Proposal Detail Page */
.proposalDetailPageBanner .proposalBannerLogo {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-bottom: 10px;}
.proposalDetailPageBanner .proposalBannerLogo img {width: auto;height: 40px;-o-object-fit: contain;object-fit: contain;}
.proposalDetailPageBanner .contentWrap .leftPart .bannerHeading {font-size: 42px;margin-bottom: 0;}
.proposalDetailPageBanner .proposalBannerName{font-weight:500;font-size:35px;line-height:50px;color:#222222;margin-bottom:20px;}

/* Board Of Director Page */
.bodPageBanner{padding-top:150px;}
.bodPageBanner .contentWrap .leftPart{width:65% !important;margin-left:auto;margin-right:auto;}

/* Devx Leadership Page */
.devxLeaderShipPage {padding-top: 150px;}

/* Employee Detail Page */
.empDetailPageBanner .empDetail{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.empDetailPageBanner .contentWrap .leftPart{width:54%;}
.empDetailPageBanner .empDetail .bannerEmpImg{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.empDetailPageBanner .empDetail .bannerEmpName{margin-left:50px;text-align:left;}
.empDetailPageBanner .empDetail .bannerEmpName .empBannerHead{font-weight:500;font-size:36px;line-height:54px;color:#222222;}
.empDetailPageBanner .rightPart .bannerRightImg img {border-radius: 50px;}

/* Innovent University */
.bannerImgWidthAuto .contentWrap .rightPart .bannerRightImg img {width: auto;}

/* Thank You Page */
.thankYouPages .contentWrap .rightPart .bannerRightImg img {height: 500px;object-fit: cover;object-position: center center;}

/* Collab Advertisement Page */
.collabAdvertisement .contentWrap .leftPart {width: 600px;}
.bannerFormNumber .bookNowInputField{display:flex;align-items:center;flex-wrap:wrap;}
.bannerFormNumber .bookNowInputField .formBtn .bookNowNext{display:inline-block;background:#327C93;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 47px;border:1px solid #327C93;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;cursor:pointer;}
.bannerFormNumber .bookNowInputField .formBtn .bookNowNext:hover{background:transparent;color:#327C93;}
.bannerFormNumber .bookNowInputField .formGroup{position:relative;margin-right: 30px;}
.bannerFormNumber .bookNowInputField .formGroup input{width:312px;border:1px solid #EFEFEF;border-radius:10px;height:45px;padding:0 20px;font-weight:500;font-size:14px;line-height:27px;color:#222222 !important;opacity:1;background:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-box-shadow:none;box-shadow:none;}
.bannerFormNumber .bookNowInputField .formGroup .formFieldName{font-size:15px;line-height:1;color:#ABABAB;position:absolute;left:20px;top:15px;z-index:-1;pointer-events:none;-webkit-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.bannerFormNumber .bookNowInputField .formGroup input:focus ~ .formFieldName, 
.bannerFormNumber .bookNowInputField .formGroup input:not(:focus):valid ~ .formFieldName, 
.bannerFormNumber .bookNowInputField .formGroup .formControl.not-empty + .formFieldName{top: -4px;font-size: 10px;background: #fff;z-index: 1;padding: 0 4px;}
.bannerFormNumber .bookNowInputField .formBtn .btnLoader{position:absolute;left:-25px;bottom:-37px;}
.bannerFormNumber .bookNowInputField .formBtn .btnLoader img{width:auto;height:20px;}
.bannerFormNumber .bookNowInputField .formBtn{position:relative;}

/* DevX Contest Page */
.devXContestPage {padding-bottom: 110px;}
.devXContestPage .contentWrap .leftPart {bottom: -110px;}

/* Phi Design Advertisement Page */
.phiDesingExpertBanner .bannerFormNumber {text-align: center;display: flex;flex-wrap: wrap;justify-content: center;}
.phiDesingExpertBanner .bannerFormNumber .siteYellowBtn .bookNowNext {background-color: #ef9b27;border-color: #ef9b27;}
.phiDesingExpertBanner .bannerFormNumber .siteYellowBtn .bookNowNext:hover {color: #ef9b27;}

@media(max-width:1750px){
    .collabLandingPageBanner .bannerLeftRound {width: 10%;}
}

@media(max-width:1500px){
    .pageBanner .contentWrap .leftPart .bannerHeading {font-size: 45px;line-height: 60px;}

    /* Home Page */
    /* .homeBannerSection .contentWrap .leftPart .bannerHeading {font-size: 45px;line-height: 60px;}
    .homeBannerSection .bannerLeftRound {width: 8%;}
    .homeBannerSection .bannerRightRound {width: 6%;}
    .homeBannerSection .contentWrap .rightPart .bannerGreterIcon {width: 13%;left: -80px;bottom: 10px;} */
    /* New Home Page */
    .homeBannerSection .contentWrap .bannerHeading {font-size: 45px;line-height: 60px;}
    .homeBannerSection .bannerLeftRound {width: 8%;}
    .homeBannerSection .bannerRightRound {width: 6%;}
    .homeBannerSection .bannerGreterIcon {width: 13%;left: -80px;bottom: 10px;}

    /* Collab */
    /* Landing Page */
    .collabLandingPageBanner .bannerLeftRound {width: 8%;}
    .collabLandingPageBanner .bannerRightRound {width: 6%;}
    .collabLandingPageBanner .contentWrap .rightPart .bannerGreterIcon {width: 13%;left: -80px;bottom: 10px;}

    /* Collab Work From Home Page */
    .collabWorkFromHomeBanner .bannerWfhTriangle {left: 5%;}
    .collabWorkFromHomeBanner .bannerWfmSqareCircle {left: 2%;}

    /* Collab Office Identity */
    .collabofficeIdentityPageBanner:before {height: 800px;}
    .collabofficeIdentityPageBanner .officeBannerHalfCircle {left: -40px;}

    /* Consight Landing Page */
    .consightLandingBanner .contentWrap .rightPart .bannerRightImg img {width: 100%;}

    /* Thank You Page */
    .thankYouPages .contentWrap .rightPart .bannerRightImg img {height: 450px;}
}

@media(max-width: 1279px){
    .pageBanner {padding-bottom: 60px;}
    .pageBanner .contentWrap .leftPart .bannerHeading {font-size: 40px;line-height: 50px;}
    .pageBanner .contentWrap .leftPart .bannerDotImg {bottom: -50px;right: 50px;}

    /* New Home Page */
    /* .homeBannerSection {padding-bottom: 60px;}
    .homeBannerSection .contentWrap .leftPart .bannerHeading {font-size: 40px;line-height: 50px;}
    .homeBannerSection .contentWrap .leftPart .bannerDotImg {bottom: -50px;right: 50px;}
    .homeBannerSection .contentWrap .rightPart .bannerGreterIcon {left: -40px;bottom: 0px;}
    .homeBannerSection .contentWrap .rightPart .bannerDotImg {right: -25px;} */
    /* Home Page */
    .homeBannerSection {padding-bottom: 60px;}
    .homeBannerSection .contentWrap  .bannerHeading {font-size: 40px;line-height: 50px;}
    .homeBannerSection .contentWrap  .bannerDotImg {bottom: -50px;right: 50px;}
    .homeBannerSection .bannerGreterIcon {left: -40px;bottom: 0px;}
    .homeBannerSection .contentWrap  .bannerDotImg {right: -25px;}
    .homeBannerSection .contentWrap .block-text {width: 470px;padding: 30px;}
    .homeBannerSection .contentWrap p br {display: none;}

    /* Collab */
    /* Landing Page */
    .collabLandingPageBanner .contentWrap .rightPart .bannerGreterIcon {left: -40px;bottom: 0px;}
    .collabLandingPageBanner .contentWrap .rightPart .bannerDotImg {right: -25px;}

    /* Collab Work From Home */
    .collabWorkFromHomeBanner .bannerWfhTriangle {left: 15px;z-index: -1;}
    .collabWorkFromHomeBanner:before {width: 33%;}
    .collabWorkFromHomeBanner .rightPart .bannerDotImg {bottom: 30px;}    

    /* Collab Office Identity Banner */
    .collabofficeIdentityPageBanner:before {height: 720px;}
    .collabofficeIdentityPageBanner .officeBannerHalfCircle {width: 5%;}
    .collabofficeIdentityPageBanner .officeTriCirElement {left: 15px;top: 30px;}
    .collabofficeIdentityPageBanner .officeRightTriangleElement {right: 15px;top: 100px;}
    .collabofficeIdentityPageBanner .officeWaweElement {bottom: -40px;right: 0;}
    .collabofficeIdentityPageBanner .officeBannerHalfCircle {left: 0px;}
    .collabofficeIdentityPageBanner .contentWrap .leftPart p br {display: none;}

    /* Collab Manage Office */
    .collabManaOffPageBannerSection .topTriangle {left: 85px;width: 5%;top: -20px;}
    .collabManaOffPageBannerSection .leftTriangle {width: 10%;}
    .collabManaOffPageBannerSection .bottomTriangle {width: 10%;}
    .collabManaOffPageBannerSection .rightPart .bannerWaweImg {left: 0;width: 20%;}
    .collabManaOffPageBannerSection .leftCurve {width: 10%;}
    .collabManaOffPageBannerSection .rightCurve {width: 6%;bottom: 50px;}
    .collabManaOffPageBannerSection .topHalfCircle {width: 13%;left: 27%;}
    .collabManaOffPageBannerSection .contentWrap .leftPart p {margin-bottom: 50px;}
    .collabManaOffPageBannerSection .rightTriangle {width: 5%;}
    .collabManaOffPageBannerSection .rightPart .banDotsimg {width: 20%;right: -20px;bottom: 200px;}

    /* Collab Flexi Desk */
    .collabFlexiDeskAhmedabadBanner {padding-bottom: 35px;}

    /* Phi Desing Experts Banner */
    .phiDesingExpertBanner {padding-bottom: 210px;}
    .phiDesingExpertBanner .contentWrap .leftPart > p {width: 100%;}
    .phiDesingExpertBanner .contentWrap .rightPart .bannerRightImg img {border-radius: 35px;}

    /* Accel Product */
    /* Landing Page */
    .accelLandingPageBanner .contentWrap .leftPart .bannerDotImg {bottom: auto;}

    /* DevX Venture Fund */
    .ventureFundBannerSection .contentWrap .rightPart .bannerRightImg img {width: 100%;}
    .ventureFundBannerSection {padding-top: 50px;}

    /* Employee Detail Page */
    .empDetailPageBanner .contentWrap .leftPart {width: 70%;}

    /* Thank You Page */
    .thankYouPages .contentWrap .rightPart .bannerRightImg img {height: 400px;}
}

@media(max-width: 1023px){
    .pageBanner .contentWrap .leftPart .bannerHeading {font-size: 30px;line-height: 40px;margin-bottom: 20px;}
    .pageBanner .contentWrap .leftPart p br{display: none;}
    .pageBanner .contentWrap .leftPart .bannerHeading br {display: none;}
    .pageBanner {margin-top: 50px;}

    /* Home Page */
    /* .homeBannerSection .contentWrap .leftPart .bannerHeading {font-size: 30px;line-height: 40px;margin-bottom: 10px;}
    .homeBannerSection .contentWrap .leftPart p br{display: none;}
    .homeBannerSection .contentWrap .leftPart .bannerHeading br {display: none;}
    .homeBannerSection .contentWrap .leftPart {padding: 20px 15px;width: 340px;}
    .home-template .homeBannerSection {overflow-x: hidden;margin-top: 70px;}
    .homeBannerSection .contentWrap .leftPart p {margin-bottom: 10px;} */
    /* Home Page */
    .homeBannerSection .contentWrap .bannerHeading {font-size: 30px;line-height: 40px;margin-bottom: 10px;}    
    .homeBannerSection .contentWrap .bannerHeading br {display: none;}    
    .home-template .homeBannerSection {overflow-x: hidden;margin-top: 70px;}
    .homeBannerSection .contentWrap p {margin-bottom: 10px;}
    .homeBannerSection .contentWrap .block-text{position:initial;width:95%;margin-left:auto;margin-top:-100px;margin-right:auto;}
    .homeBannerSection .contentWrap{-ms-flex-wrap:wrap;flex-wrap:wrap;}
    .homeBannerSection .contentWrap .block-media{width:100%;}

    /* Collab */
    /* Landing Page */
    .collabLandingPageBanner .contentWrap .leftPart {padding: 20px 15px;width: 340px;}

    /* Collab Work From Home */
    .collabWorkFromHomeBanner .contentWrap .leftPart p {margin-bottom: 25px;}

    /* Collab Manage Office */
    .collabManaOffPageBannerSection .rightPart .banDotsimg {bottom: 150px;}
    .collabManaOffPageBannerSection .bottomTriangle {right: 70px;}
    .collabManaOffPageBannerSection {margin-bottom: 40px;}

    /* Collab Build Office Download PDF Page */
    .buildDownloadPDFBanner .contentWrap .leftPart {width: 400px;}

    /* Collab Proposal Page */
    .proposalDetailPageBanner .proposalBannerName {font-size: 25px;line-height: 35px;margin-bottom: 10px;}
    .proposalDetailPageBanner .contentWrap .leftPart .bannerHeading {margin-bottom: 5px;}

    /* Phi Desing Experts Banner */
    .phiDesingExpertBanner .contentWrap .leftPart {width: 90%;}
    .phiDesingExpertBanner .contentWrap .rightPart .bannerRightImg img {border-radius: 25px;}

    /* Accel Product */
    /* Landing Page */
    .accelLandingPageBanner {padding-top: 60px;}
    .accelLandingPageBanner .bannerLeftRound {width: 20%;}
    .accelLandingPageBanner .contentWrap .leftPart .bannerDotImg {top: 0;}
    .accelLandingPageBanner .contentWrap .leftPart .bannerGreterIcon {bottom: -40px;left: 0;}

    /* Board of Director Page */
    .bodPageBanner {padding-top: 100px;}
    .bodPageBanner .contentWrap .leftPart {width: 90% !important;}

    /* Innovent Landing Page */
    .innoventLandingBanner .leftPart {margin-bottom: 30px;}

    /* Devx Leadership Page */
    .devxLeaderShipPage {padding-top: 100px;}

    /* Collab Advertisement Page */
    .collabAdvertisement .contentWrap .leftPart {width: 445px;}
    .bannerFormNumber .bookNowInputField .formGroup input {width: 230px;}
    .bannerFormNumber .bookNowInputField .formGroup {margin-right: 10px;}
}

@media(max-width: 767px){
    .pageBanner .contentWrap .leftPart .bannerHeading{font-size:24px;line-height:35px;margin-bottom: 10px;}
    .pageBanner .contentWrap .leftPart p {margin-bottom: 20px;}

    /* Home Page */
    /* .homeBannerSection {padding-bottom: 30px;}
    .homeBannerSection .contentWrap .leftPart .bannerHeading{font-size:25px;line-height:35px;}
    .homeBannerSection .contentWrap .leftPart {position: inherit;width: 100%;-webkit-box-shadow: none;box-shadow: none;margin-top: 30px;padding: 0;margin-left: 0;background-color: transparent;}
    .homeBannerSection .contentWrap .rightPart .bannerRightImg {width: 100%;}
    .homeBannerSection .contentWrap .homeSliderBox {-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;}
    .home-template .homeBannerSection {margin-top: 70px;padding-top: 0;} */
    /* Home Page */
    .homeBannerSection {padding-bottom: 30px;}
    .homeBannerSection .contentWrap .bannerHeading{font-size:25px;line-height:35px;}
    .home-template .homeBannerSection {margin-top: 70px;padding-top: 0;}
    .homeBannerSection .contentWrap .block-text {margin-top: -30px;padding: 20px;}

    /* Collab Landing Page */
    .collabLandingPageBanner {margin-top: 70px !important;padding-top: 0 !important;}
    .collabLandingPageBanner .container {padding-left: 0;padding-right: 0;}
    .collabLandingPageBanner .contentWrap .leftPart {position: inherit;width: 90%;margin-top: -80px;}
    .collabLandingPageBanner .contentWrap .rightPart .bannerRightImg {width: 100%;}
    .collabLandingPageBanner .contentWrap {-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;}
    .collabLandingPageBanner .bannerLeftRound {display: none;}
    .collabLandingPageBanner .bannerRightRound, .collabLandingPageBanner .contentWrap .rightPart .bannerGreterIcon, .collabLandingPageBanner .contentWrap .rightPart .bannerDotImg {display: none;}

    /* Collab Office Identity Banner */
    .collabofficeIdentityPageBanner:before, .collabofficeIdentityPageBanner .officeBannerDotsElement, .collabofficeIdentityPageBanner .officeWaweElement{display: none;}
    .collabofficeIdentityPageBanner .contentWrap .leftPart p {margin-bottom: 15px;}
    .collabofficeIdentityPageBanner .officeTriCirElement, .collabofficeIdentityPageBanner .officeRightTriangleElement, .collabofficeIdentityPageBanner .officeBannerHalfCircle {display: none;}

    /* Collab Manage Office */
    .collabManaOffPageBannerSection {margin-bottom: 10px;}
    .collabManaOffPageBannerSection .contentWrap .leftPart p {margin-bottom: 20px;}
    .collabManaOffPageBannerSection .bottomTriangle {right: 0px;}
    .collabManaOffPageBannerSection .rightTriangle {width: 10%;}
    .collabManaOffPageBannerSection .leftTriangle {width: 20%;bottom: -16px;}
    .collabManaOffPageBannerSection .leftCurve {width: 15%;}
    .collabManaOffPageBannerSection .topHalfCircle {width: 25%;left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}
    .collabManaOffPageBannerSection .rightCurve {width: 10%;bottom: -80px;z-index: -1;}
    .collabManaOffPageBannerSection .rightPart .bannerWaweImg, .collabManaOffPageBannerSection .rightPart .banDotsimg, .collabManaOffPageBannerSection .topTriangle,
    .collabManaOffPageBannerSection .leftCurve, .collabManaOffPageBannerSection .leftTriangle, .collabManaOffPageBannerSection .rightTriangle,
    .collabManaOffPageBannerSection .rightCurve, .collabManaOffPageBannerSection .topHalfCircle, .collabManaOffPageBannerSection .bottomTriangle{display: none;}

    /* Collab Build Office Download PDF Page */
    .buildDownloadPDFBanner .clientDetails .detailsWrap {margin-bottom: 10px;}
    .buildDownloadPDFBanner .clientDetails .detailsWrap .detailBox {margin: 10px auto;}
    .buildDownloadPDFBanner .contentWrap .leftPart .bannerHeading {margin-bottom: 0px;}

    /* Collab Work From Home */
    .collabWorkFromHomeBanner:before{display: none;}
    .collabWorkFromHomeBanner .rightPart {padding-left: 0;}
    .collabWorkFromHomeBanner {margin-bottom: 15px;}
    .collabWorkFromHomeBanner .contentWrap .rightPart .bannerRightImg {padding-left: 50px;}
    .collabWorkFromHomeBanner .rightHalfCircle, .collabWorkFromHomeBanner .bannerWfhTriangle, .collabWorkFromHomeBanner .bannerWfmSqareCircle, .collabWorkFromHomeBanner .rightPart .bannerDotImg {display: none;}

    /* Collab Flexi Desk */
    .collabFlexiDeskAhmedabadBanner:before{display: none;}
    .collabFlexiDeskAhmedabadBanner .rightPart {padding-right: 40px;}
    .collabFlexiDeskAhmedabadBanner .contentWrap .leftPart p {margin-bottom: 30px;}
    .collabFlexiDeskAhmedabadBanner:after {width: 250px;height: 250px;bottom: 40px;z-index: -1;}
    .collabFlexiDeskAhmedabadBanner .rightHalfCircle {width: 20%;}
    .collabFlexiDeskAhmedabadBanner .rightPart{margin-bottom:25px;}
    .collabFlexiDeskAhmedabadBanner .rightHalfCircle{display:none;}
    .collabFlexiDeskAhmedabadBanner .bannerWfhTriangle{display:none;}
    .collabFlexiDeskAhmedabadBanner .bannerWfmSqareCircle{display:none;}
    .collabFlexiDeskAhmedabadBanner .rightPart .bannerDotImg{display:none;}
    .collabFlexiDeskAhmedabadBanner:after{display:none;}

    /* Collab Allied Service */
    .collabAlliedServicesBanner {padding-top: 30px;margin-bottom: 0px;}
    .collabAlliedServicesBanner .leftTopTriangle {width: 6%;left: 20px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    .collabAlliedServicesBanner .leftBottomCircle {width: 14%;left: 20px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    .collabAlliedServicesBanner .twoWawesElement {width: 30%;bottom: -30px;left: 30%;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    .collabAlliedServicesBanner .rightBottomTriangle {width: 5%;bottom: 0;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    .collabAlliedServicesBanner .rightTopDoubleCircle {width: 10%;top: 40px;right: 10%;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    .collabAlliedServicesBanner .dotsElements {width: 15%;bottom: 0;right: 20px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    /* .collabAlliedServicesBanner .leftBottomCircle, .collabAlliedServicesBanner .leftTopTriangle, .collabAlliedServicesBanner .rightTopDoubleCircle,
    .collabAlliedServicesBanner .rightBottomTriangle, .collabAlliedServicesBanner .twoWawesElement, .collabAlliedServicesBanner .dotsElements {display: none;} */
    
    /* Collab Proposal Page */
    .proposalDetailPageBanner .proposalBannerName {font-size: 20px;line-height: 30px;margin-bottom: 10px;}

    /* Phi Desing Experts Banner */
    .phiDesingExpertBanner .contentWrap .leftPart {bottom: 0;}
    .phiDesingExpertBanner .contentWrap .rightPart {margin-top: 20px;}
    .phiDesingExpertBanner {padding-bottom: 40px;}
    .phiDesingExpertBanner .contentWrap .rightPart .bannerRightImg img {border-radius: 20px;}

    /* Board Of Director Page */
    .bodPageBanner {padding-top: 70px;}
    .bodPageBanner .contentWrap .leftPart {width: 100% !important;}

    /* Consight Landing Page */
    .consightLandingBanner{padding-top: 50px;}
    .consightLandingBanner .leftHalfCurve, .consightLandingBanner .rightPart .bannerRightTriangel, 
    .consightLandingBanner .bannerRightCircle, .consightLandingBanner .bannerRightDots{display: none;}
    .consightLandingBanner .contentWrap .rightPart .bannerRightImg {padding-top: 0;}

    /* Haas Landing Page */
    .haasLandingPageBanner {padding-top: 50px;}
    .haasLandingPageBanner .leftTriangle, .haasLandingPageBanner .topTriangle, 
    .haasLandingPageBanner .rightPart .bannerWaweImg, .haasLandingPageBanner .rightPart .banDotsimg, .haasLandingPageBanner .bottomTriangle{display: none;}
    .haasLandingPageBanner .rightPart {margin-bottom: 30px;}

    /* Innovernt Landing Page */
    .innoventLandingBanner {padding-top: 50px;}
    .innoventLandingBanner .leftHalfCurve, .innoventLandingBanner .rightHalfCurve, .innoventLandingBanner .bannerRightCircle,
    .innoventLandingBanner .bannerLeftTriangel, .innoventLandingBanner .rightPart .bannerRightTriangel, .innoventLandingBanner .rightPart .bannerRightDots{display: none;}

    /* Phi Design Corporate Office */
    .phiDesingExpertBanner .container{padding-left:15px;padding-right:15px;}
    .phiDesingExpertBanner .contentWrap .leftPart{margin-top:0;width:100%;border-radius:inherit;-webkit-box-shadow:none;box-shadow:none;}

    /* Devx Leadership Page */
    .devxLeaderShipPage {padding-top: 50px;}

    /* Employee Detail Page */
    .empDetailPageBanner .empDetail .bannerEmpName .empBannerHead{font-size:24px;}
    .empDetailPageBanner .empDetail .bannerEmpName{margin-left:15px;}

    /* Thank You Page */
    .thankYouPages .contentWrap .rightPart .bannerRightImg img {height: 300px;}

    /* Accel DevX Venture Fund*/
    .ventureFundBannerSection .contentWrap .rightPart .bannerRightImg {margin-bottom: 25px;}
    .ventureFundBannerSection .ventureFundBanner {font-size: 18px;margin-bottom: 30px;margin-top: -10px;}   
}

@media(max-width: 567px){
    .pageBanner {padding-bottom: 30px;}
    .pageBanner .contentWrap > div{width:100%;}
    .pageBanner .contentWrap .rightPart .bannerRightImg{padding-left:0;}
    .pageBanner .contentWrap{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
    .pageBanner .contentWrap .leftPart .bannerDotImg {bottom: 70px;right: 0;}

    /* Home Page */
    /* .homeBannerSection {padding-bottom: 30px;}
    .homeBannerSection .contentWrap > div{width:100%;}
    .homeBannerSection .contentWrap .rightPart .bannerRightImg{padding-left:0;}
    .homeBannerSection .contentWrap .leftPart{margin-top:25px;text-align:center;}
    .homeBannerSection .contentWrap{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
    .homeBannerSection .contentWrap .leftPart .bannerDotImg {bottom: 70px;right: 0;} */
    /* Home Page */
    .homeBannerSection {padding-bottom: 30px;}
    .homeBannerSection .contentWrap .bannerDotImg {bottom: 70px;right: 0;}
    .homeBannerSection .contentWrap p {margin-bottom: 20px;}

    /* Collab Work From Home */
    .collabWorkFromHomeBanner .contentWrap .leftPart{padding:15px 15px 25px;background:#FFFFFF;-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.05);box-shadow:0px 0px 20px rgba(0,0,0,0.05);border-radius:10px;width:90%;margin-top:-80px;z-index:2;position:relative;}

    /* Collab Manage Office */
    .collabManaOffPageBannerSection .rightCurve {width: 10%;bottom: 280px;}
    .collabWorkFromHomeBanner .contentWrap .rightPart .bannerRightImg {padding-left: 0px;}
    .collabManaOffPageBannerSection .rightPart .bannerRightImg {padding-left: 0 !important;}
    .collabManaOffPageBannerSection .rightPart .bannerRightImg{width:85%;margin-left:auto;margin-right:auto;margin-bottom:25px;}

    /* Collab Build Office Download PDF Page */
    .buildDownloadPDFBanner .contentWrap .leftPart {text-align: left;}
    .buildDownloadPDFBanner .clientDetails .detailsWrap .detailBox {width: 100%;}

    /* Collab Flexi Desk */
    .collabFlexiDeskAhmedabadBanner .rightPart {padding-right: 0px;}

    /* Phi Desing Experts Banner */
    .phiDesingExpertBanner .contentWrap .rightPart .bannerRightImg img {border-radius: 10px;}

    /* Accel Product */
    /* Landing Page */
    .accelLandingPageBanner .contentWrap .leftPart {padding-right: 0;}    
    .accelLandingPageBanner .bannerRightRound {width: 20%;}
    .accelLandingPageBanner .contentWrap .leftPart .bannerDotImg {bottom: auto;right: 40%;}

    /* Collab Proposal Detail Page */
    .proposalDetailPageBanner .proposalBannerLogo {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}

    /* Collab Office Identity Banner */
    .collabofficeIdentityPageBanner .rightPart {margin-bottom: 20px;}

    /* Board Of Director Page */
    .bodPageBanner {padding-top: 50px;}

    /* Collab Broker Page */
    .collabBrokerBannerSection .bannerMainSideImg {right: 0;width: 70%;bottom: 0;}

    /* Accel Landing Page */
    .accelLandingPageBanner .contentWrap .rightPart {margin-bottom: 25px;}

    /* Consight Landing Page */
    .consightLandingBanner .contentWrap .rightPart {margin-bottom: 30px;}

    /* Innovent Landing Page */
    .innoventLandingBanner .leftPart {margin-bottom: 0;margin-top: 30px;}
    .innoventLandingBanner .contentWrap .rightPart .bannerRightImg img{width: 100%;}

    /* Phi Design Tech Page */
    .phidesingTechnologyPageBanner .contentWrap .rightPart .bannerRightImg {width: 100%;}

    /* Thank You Page */
    .thankYouPages .contentWrap .rightPart .bannerRightImg img {height: initial;}

    /* Collab Advertisement Page */
    .bannerFormNumber .bookNowInputField .formGroup input {width: 100%;}
    .bannerFormNumber .bookNowInputField .formGroup {width: 100%;margin-right: 0;margin-bottom: 15px;}
    .bannerFormNumber .formBtn.siteYellowBtn {width: 100%;}
}