.boardOfDirectorSectionPage{padding-top:100px;padding-bottom:100px;}
.boardOfDirectorSectionPage .mainBod{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.boardOfDirectorSectionPage .mainBod .bodBox{width:calc(100% / 2 - 42px);-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);border-radius:20px;padding:30px;margin: 21px 21px;}
.boardOfDirectorSectionPage .mainBod .bodHead{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-bottom:30px;}
.boardOfDirectorSectionPage .mainBod .bodHead .bodImg{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:33%;}
.boardOfDirectorSectionPage .mainBod .bodHead .bodPost{width:67%;padding-left:30px;}
.boardOfDirectorSectionPage .mainBod .bodHead .bodPost .bodName{font-weight:500;font-size:24px;line-height:28px;color:#222222;margin-bottom:10px;}
.boardOfDirectorSectionPage .mainBod .bodBox .bodContent {position: relative;padding: 15px 40px 30px;}
.boardOfDirectorSectionPage .mainBod .bodQuatOne{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;left:-15px;top:0;z-index: -1;}
.boardOfDirectorSectionPage .mainBod .bodQuatTwo{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;right:-15px;bottom:-15px;z-index: -1;}
.boardOfDirectorSectionPage .bodHeadingPart{margin-top:120px;margin-bottom:60px;}
.boardOfDirectorSectionPage .bodHeadingPart .secSubhead{margin-bottom:20px;}

@media(max-width:1500px){
    .boardOfDirectorSectionPage .mainBod .bodHead .bodPost .bodName {font-size: 22px;}
}

@media(max-width: 1279px){
    .boardOfDirectorSectionPage {padding-top: 60px;padding-bottom: 60px;}
    .boardOfDirectorSectionPage .mainBod .bodBox{margin:15px;width:calc(100% / 2 - 30px);padding: 15px;}
    .boardOfDirectorSectionPage .bodHeadingPart{margin-top:80px;}
    .boardOfDirectorSectionPage .mainBod .bodHead {margin-bottom: 15px;}
    .boardOfDirectorSectionPage .mainBod .bodBox .bodContent {padding: 15px 30px 15px;}
    .boardOfDirectorSectionPage .mainBod .bodQuatTwo {right: 0;bottom: 0;}
    .boardOfDirectorSectionPage .mainBod .bodQuatOne {left: 0;}
    .boardOfDirectorSectionPage .mainBod .bodHead .bodPost {padding-left: 10px;}
}

@media(max-width: 1023px){
    .boardOfDirectorSectionPage {padding-top: 30px;padding-bottom: 30px;}
    .boardOfDirectorSectionPage .mainBod .bodHead .bodPost .bodName {font-size: 20px;margin-bottom: 5px;}
    .boardOfDirectorSectionPage .mainBod .bodHead .bodPost .bodDesignation {font-size: 14px;}
    .boardOfDirectorSectionPage .bodHeadingPart {margin-top: 50px;margin-bottom: 30px;}
    
}

@media(max-width: 767px){
    .boardOfDirectorSectionPage .mainBod .bodBox {width: 100%;margin-left: 0;margin-right: 0;}
    .boardOfDirectorSectionPage .mainBod .bodHead .bodPost {padding-left: 20px;}
}