/* Book Now Pop Up */
.collabBookNow{background-color:rgba(0,0,0,0.4);height:100vh;position:fixed;width:100%;top:0;z-index:999;bottom:0;right:0;margin:auto;}
.collabBookNow .bookNowPopUpWrap{background-color:#ffffff;background:#FFFFFF;border-radius:10px;width:1190px;margin:auto;position:absolute;left:0;right:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);height:800px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);}
.collabBookNow .popUpHeadPart .popUpHead {font-weight: 600;font-size: 45px;line-height: 55px;color: #222222;margin-bottom: 20px;}
.collabBookNow .bookNowPopUpWrap .popUpHeadPart {width: 75%;margin-left: auto;margin-right: auto;}
.collabBookNow .bookNowPopUpWrap .bookNowWrapMain{padding:0 70px;}
.collabBookNow .formBtn {width: 100%;text-align: center;position: relative;}
.collabAdvertisePage .formBtn {margin-top: 30px;}
.collabBookNow .formBtn .bookNowNext {cursor: pointer;}
.collabBookNow .formBtn .bookNowNext{display:inline-block;background:#327C93;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #327C93;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.collabBookNow .formBtn .bookNowNext:hover{background:transparent;color:#327C93;}
.collabBookNow .formBtn .btnLoader {position: absolute;left: 205px;right: 0;top: 12px;z-index: -1;}
.collabBookNow .formBtn .btnLoader img{width:auto;height:20px;-o-object-fit:cover;object-fit:cover;vertical-align: middle;}
.collabBookNow.collabAdvertisePage {transition: .5s all;}

/* Form */
.collabBookNow .bookNowPopUpWrap .bookNowWrapMain .bookNowWrapPopup{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.collabBookNow .bookNowPopUpWrap .bookNowWrapMain .bookNowOfficeForm {margin-top: 20px;}
.collabBookNow .bookNowOfficeForm .bookNowInputField{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup{width:calc(100% / 2 - 50px);margin:10px 25px;position: relative;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input{width:100%;border:1px solid #EFEFEF;border-radius:10px;height:80px;padding:0 20px;font-weight:500;font-size:16px;line-height:27px;color:#222222 !important;opacity:1;background: transparent;-webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-box-shadow: none;box-shadow: none;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input::-webkit-input-placeholder {color: #ABABAB;font-weight: normal;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input::-moz-placeholder {color: #ABABAB;font-weight: normal;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input:-ms-input-placeholder {color: #ABABAB;font-weight: normal;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input::-ms-input-placeholder {color: #ABABAB;font-weight: normal;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input::placeholder {color: #ABABAB;font-weight: normal;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input:focus {-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup .formFieldName{font-size:16px;line-height:1;color:#ABABAB;position:absolute;left:20px;top:30px;z-index: -1;pointer-events: none;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input:focus ~ .formFieldName, 
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input:not(:focus):valid ~ .formFieldName{top: 10px;font-size: 11px;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input[type=number] {-moz-appearance: textfield;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input::-webkit-outer-spin-button, .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input::-webkit-inner-spin-button {-webkit-appearance: none;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup select{width:100%;border:1px solid #EFEFEF;border-radius:10px;height:80px;padding:0 20px;font-weight:500;font-size:16px;line-height:27px;color:#222222 !important;opacity:1;background:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-box-shadow: none;box-shadow: none;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup select:focus {-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup .downImg{position:absolute;right:30px;top:45%;display:-webkit-box;display:-ms-flexbox;display:flex;z-index:-1;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup select:focus ~ .formFieldName, 
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup select:not(:focus):valid ~ .formFieldName{top: 10px;font-size: 11px;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup textarea:focus ~ .formFieldName, 
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup textarea:not(:focus):valid ~ .formFieldName{top: 10px;font-size: 11px;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formCheckBox{width:100%;text-align:center;margin-top:30px;margin-bottom:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formCheckBox label{font-size:12px;line-height:21px;color:#000000;margin-left: 10px;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup .formControl.not-empty + .formFieldName {top: 10px;font-size: 11px;}

/* Multi Select Dropdown */
.collabBookNow .form .chosen-container{font-size:1rem;}
.collabBookNow .form .chosen-container .chosen-single,.collabBookNow .form .chosen-container .chosen-drop{border:none;border-radius:0;box-shadow:none;}
.collabBookNow .form .chosen-container-active.chosen-with-drop .chosen-single,.form .chosen-container-active .chosen-choices{border:none;border-radius:0;box-shadow:none;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup #foo_select_chosen{width:100% !important;display:flex !important;align-items:center !important;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup #foo_select_chosen .chosen-choices{width:100%;border:1px solid #EFEFEF;border-radius:10px;height:80px !important;padding:0 20px;font-weight:500;font-size:16px;line-height:27px;color:#222222 !important;opacity:1;background:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;display:flex;align-items:center;flex-wrap: wrap;cursor: auto;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup #foo_select_chosen.chosen-container .chosen-results li.highlighted {background-color: #1E90FF !important;background-image: none !important;color: #fff;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup #foo_select_chosen .chosen-drop {border: 1px solid #000;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup #foo_select_chosen .chosen-choices > li input {font-size: 0;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup #foo_select_chosen .chosen-choices > li span {font-size: 12px;}

/* Thank You */
.collabBookNow .thankYouImg{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;/*margin-top: 100px;*/}
.collabBookNow .thankYouImg img{width:auto;height:162px;-o-object-fit:contain;object-fit:contain;}
.collabBookNow .thankYouContent{font-weight:500;font-size:36px;line-height:54px;color:#222222;text-align:center;width:85%;margin-left:auto;margin-right:auto;margin-top:40px;}

/* Phi Design Btn */
.collabBookNow .formBtn.siteYellowBtn .bookNowNext{display:inline-block;background:#EF9B27;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #EF9B27;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.collabBookNow .formBtn.siteYellowBtn .bookNowNext:hover{background:transparent;color:#EF9B27;}

/* Accel Btn */
.collabBookNow .formBtn.siteAccelBtn .bookNowNext{display:inline-block;background:#223754;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #223754;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.collabBookNow .formBtn.siteAccelBtn .bookNowNext:hover{background:transparent;color:#223754;}

/* Haas Btn */
.collabBookNow .formBtn.siteHaasBtn .bookNowNext{display:inline-block;background:#4cabd0;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #4cabd0;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.collabBookNow .formBtn.siteHaasBtn .bookNowNext:hover{background:transparent;color:#4cabd0;}

/* Innovent Btn */
.collabBookNow .formBtn.siteOrangeBtn .bookNowNext{display:inline-block;background:#EF7C29;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #EF7C29;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.collabBookNow .formBtn.siteOrangeBtn .bookNowNext:hover{background:transparent;color:#EF7C29;}

/* Consight Btn */
.collabBookNow .formBtn.siteRedBtn .bookNowNext{display:inline-block;background:#DC3928;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #DC3928;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.collabBookNow .formBtn.siteRedBtn .bookNowNext:hover{background:transparent;color:#DC3928;}

.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup textarea{width:100%;border:1px solid #EFEFEF;border-radius:10px;height:80px;padding:20px;font-weight:500;font-size:16px;line-height:27px;color:#222222 !important;opacity:1;background:transparent;resize: none;}

.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup.formTextArea{width:100%;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup.formTextArea textarea{width:100%;border:1px solid #EFEFEF;border-radius:10px;height:110px;padding:20px;font-weight:500;font-size:16px;line-height:27px;color:#222222 !important;opacity:1;background:transparent;resize: none;}
.collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup.formTextArea .formFieldName{top:20px;}

/* Close Btn */
.collabBookNow .bookNowPopUpWrap .formCloseBtn{cursor:pointer;position:absolute;top:40px;right:40px;font-size:0;width:20px;height:20px;border:none;background-color:transparent;}
.collabBookNow .bookNowPopUpWrap .formCloseBtn:before{position:absolute;content:'';width:20px;height:1px;background:#565267;left:0;right:0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.collabBookNow .bookNowPopUpWrap .formCloseBtn:after{position:absolute;content:'';width:20px;height:1px;background:#565267;left:0;right:0;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}

/* Contest Page */
.contestThankYou .bookNowPopUpWrap .bookNowWrapMain {width: 100%;}

@media(max-width:1400px){
    .collabBookNow .bookNowPopUpWrap {height: 590px;width: 1050px;}
    .collabBookNow .popUpHeadPart .popUpHead {font-size: 35px;line-height: 35px;margin-bottom: 10px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input, .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup select{height: 60px;font-size: 15px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup .formFieldName {top: 27px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formCheckBox {margin-top: 20px;margin-bottom: 20px;}
    .collabBookNow .bookNowPopUpWrap .bookNowWrapMain .bookNowOfficeForm {margin-top: 5px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup.formTextArea textarea {height: 85px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup #foo_select_chosen .chosen-choices{height:70px !important;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup select {font-size: 15px;}
    .collabBookNow.collabAdvertisePage .bookNowPopUpWrap .bookNowOfficeForm {margin-top: 40px;}
}

@media(max-width:1279px){
    .collabBookNow .bookNowPopUpWrap {width: 95%;}
    .collabBookNow .bookNowPopUpWrap .popUpHeadPart {width: 100%;}
    .collabBookNow .thankYouContent {margin-top: 80px;font-size: 30px;line-height: 45px;}
}

@media(max-width:1023px){
    .collabBookNow .bookNowPopUpWrap .bookNowWrapMain {padding: 0 20px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup {width: calc(100% / 2 - 30px);margin: 10px 15px;}
    .collabBookNow .popUpHeadPart .popUpHead {font-size: 30px;line-height: 40px;}
    .collabBookNow .bookNowPopUpWrap .formCloseBtn {top: 20px;right: 20px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formCheckBox {margin-top: 10px;margin-bottom: 20px;}
    .collabBookNow .thankYouImg img {height: 120px;}
}

@media(max-width:767px){
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup {width: 100%;margin: 5px 0;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input, .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup select {height: 55px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup #foo_select_chosen .chosen-choices{height:55px !important;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup .formFieldName {top: 20px;font-size: 14px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input, .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup select,
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup textarea{font-size: 14px;}
    .collabBookNow .bookNowPopUpWrap{height:320px;overflow-x:scroll;padding:30px 0 !important;display:inline-block;}
    /* .collabBookNow .bookNowPopUpWrap .bookNowWrapMain{height:100%;} */
    .collabBookNow .bookNowPopUpWrap .bookNowWrapMain .bookNowOfficeForm{padding-bottom:30px;}
    .collabBookNow .popUpHeadPart .popUpHead {font-size: 20px;line-height: 30px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formCheckBox {text-align: left;}
    .collabBookNow .bookNowPopUpWrap .formCloseBtn {top: 10px;right: 10px;}
    .collabBookNow .bookNowPopUpWrap .formCloseBtn:after, .collabBookNow .bookNowPopUpWrap .formCloseBtn:before {width: 15px;}
    .collabBookNow .thankYouContent{width:100%;margin-top:0px;font-size:20px;line-height:30px;}
    .collabBookNow .thankyouWrap {height: 100%;}
    .collabBookNow .thankyouWrap .thankSession{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:100%;}
    .collabBookNow .thankYouImg img{width:80%;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input:focus ~ .formFieldName, .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup input:not(:focus):valid ~ .formFieldName {top: 5px;}
    .collabBookNow .bookNowOfficeForm .bookNowInputField .formGroup .formControl.not-empty + .formFieldName {top: 5px;}
}

@media(max-width:567px){
    /* .collabBookNow .bookNowPopUpWrap{height:550px;padding:30px 0 !important;display:inline-block;} */
    .collabBookNow .bookNowPopUpWrap{height:90%;padding:30px 0 !important;display:-webkit-box;display:-ms-flexbox;display:flex;overflow:inherit;}
    /* .collabBookNow .bookNowPopUpWrap .bookNowWrapMain{height: 100%;overflow:scroll;display:flex;flex-direction:column;align-items:center;justify-content:center;} */
    .collabBookNow .bookNowPopUpWrap .bookNowWrapMain .bookNowOfficeForm {padding-bottom: 0px;}
    /* .collabBookNow .bookNowPopUpWrap .bookNowWrapMain .bookNowWrapPopup{display:flex;flex-direction:column;align-items:center;justify-content:flex-start;height:550px;overflow:scroll;} */
    .collabBookNow .bookNowPopUpWrap .bookNowWrapMain{height:645px;overflow-x:scroll;vertical-align:middle;}
}

@media(max-width:400px){
    .collabBookNow .bookNowPopUpWrap .bookNowWrapMain {height: 590px;}
}

@media(max-width:370px){
    .collabBookNow .bookNowPopUpWrap{height:550px;overflow-x:scroll;padding:30px 0 !important;display:inline-block;}
}