/* 1 - Build your office in 5 mins! */
.buildYourOfficePopUp {background-color: #000;height: 100vh;position: relative;}
.buildYourOfficePopUp .buildPopUpWrap {background-color: #ffffff;background: #FFFFFF;border-radius: 10px;width: 1190px;margin: auto;position: absolute;left: 0;right: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.buildYourOfficePopUp .popUpHeadPart .popUpHead {font-weight: 600;font-size: 45px;line-height: 64px;color: #222222;margin-bottom: 20px;}
.buildYourOfficePopUp .buildPopUpWrap .popUpHeadPart {width: 85%;margin-left: auto;margin-right: auto;}
.buildYourOfficePopUp .buildPopUpWrap .buildWrapMain{padding: 70px 70px 40px;}
.buildYourOfficePopUp .formBtn {width: 100%;text-align: center;}
.buildYourOfficePopUp .formBtn .buildNext {cursor: pointer;}
.buildYourOfficePopUp .buildBottomLins{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.buildYourOfficePopUp .buildBottomLins .bottomLins{width:calc(100% / 5 - 5px);height:7px;background:#ECECEC;margin:0 3px;}
.buildYourOfficePopUp .buildBottomLins .bottomLins.collabColor{background:#327C93;}
.buildYourOfficePopUp .buildBottomLins .bottomLins:first-child{margin-left:0;border-radius:0px 0px 0px 10px;}
.buildYourOfficePopUp .buildBottomLins .bottomLins:last-child{margin-right:0;border-radius:0px 0px 10px 0px;}

/* Collab Next Btn */
.buildYourOfficePopUp .formBtn .buildNext{display:inline-block;background:#327C93;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #327C93;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.buildYourOfficePopUp .formBtn .buildNext:hover{background:transparent;color:#327C93;}

/* 1 Build your office in 5 mins! */
.buildYourOfficePopUp .buildPopUpWrap .buildWrapMain .buildOfficeForm {margin-top: 70px;margin-bottom: 130px;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup{width:calc(100% / 2 - 50px);margin:15px 25px 15px;position: relative;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input{width:100%;border:1px solid #EFEFEF;border-radius:10px;height:80px;padding:0 20px;font-weight:500;font-size:18px;line-height:27px;color:#222222 !important;opacity:1;background: transparent;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input::-webkit-input-placeholder {color: #ABABAB;font-weight: normal;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input::-moz-placeholder {color: #ABABAB;font-weight: normal;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input:-ms-input-placeholder {color: #ABABAB;font-weight: normal;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input::-ms-input-placeholder {color: #ABABAB;font-weight: normal;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input::placeholder {color: #ABABAB;font-weight: normal;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input:focus {-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup .formFieldName{font-size:18px;line-height:1;color:#ABABAB;position:absolute;left:20px;top:30px;z-index: -1;pointer-events: none;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input:focus ~ .formFieldName, 
.buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input:not(:focus):valid ~ .formFieldName{top: 10px;font-size: 11px;}

/* 2 - Select City to get started */
.buildYourOfficePopUp .buildPopUpWrap .buildWrapMain .buildSelectCityMain {margin-top: 50px;margin-bottom: 50px;}
.buildYourOfficePopUp .buildSelectCityMain ul {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.buildYourOfficePopUp .buildSelectCityMain ul a{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-weight:500;font-size:14px;line-height:21px;color:#222222;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.buildYourOfficePopUp .buildSelectCityMain ul a .cityImg {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;height: 50px;margin-bottom: 5px;}
.buildYourOfficePopUp .buildSelectCityMain ul a .cityImg img {width: auto;-o-object-fit: cover;object-fit: cover;}
.buildYourOfficePopUp .buildSelectCityMain ul .cityList {width: calc(100% / 6 - 0px);margin: 20px 0;}
.buildYourOfficePopUp .buildSelectCityMain ul a:hover .cityImg svg path, 
.buildYourOfficePopUp .buildSelectCityMain ul a:hover .cityImg svg rect, 
.buildYourOfficePopUp .buildSelectCityMain ul a:hover .cityImg svg circle,
.buildYourOfficePopUp .buildSelectCityMain ul a.citySelect .cityImg svg path, 
.buildYourOfficePopUp .buildSelectCityMain ul a.citySelect .cityImg svg rect, 
.buildYourOfficePopUp .buildSelectCityMain ul a.citySelect .cityImg svg circle {stroke: #327C93;}

/* 3 - The City of Dreams */
.buildYourOfficePopUp .mumbaiLocationPart{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:85%;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-left:auto;margin-right:auto;margin-top:57px;margin-bottom:180px;}
.buildYourOfficePopUp .mumbaiLocationPart .locationNameMumbai{margin:15px 10px;line-height: 43px;}
.buildYourOfficePopUp .mumbaiLocationPart .locationNameMumbai a{background:#DAF2FA;font-weight:500;font-size:16px;line-height:1;color:#222222;padding:10px 23px;cursor: pointer;border-radius:20px;}
.buildYourOfficePopUp .mumbaiLocationPart .locationNameMumbai a:hover, .buildYourOfficePopUp .mumbaiLocationPart .locationNameMumbai a.cityLocationSelect {background: #327c93;color: #fff;-webkit-transition: .5s all;-o-transition: .5s all;transition: .5s all;}

/* 4 Select Theme */
.buildYourOfficePopUp .selectThemePart{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;width:75%;margin-left:auto;margin-right:auto;margin-top:16px;margin-bottom:16px;}
.buildYourOfficePopUp .selectThemePart .themeBox{width:calc(100% / 3 - 20px);text-align:center;cursor:pointer;position: relative;margin: 7px 10px;}
.buildYourOfficePopUp .selectThemePart .themeBox .themeImg{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;position:relative;}
.buildYourOfficePopUp .selectThemePart .themeBox .themeHead{font-weight:500;font-size:16px;line-height:24px;color:#222222;margin-top:10px;}
.buildYourOfficePopUp .selectThemePart .themeBox .themeRadiobtn{position:absolute;width:16px;height:16px;background-color:#fff;border-radius:100%;right:10px;top:10px;}
.buildYourOfficePopUp .selectThemePart .themeBox .themeSelect .themeRadiobtn.collabColor {background-color: #0186CB;}

/* 5 Fusion Theme. Great Choice! */
.buildYourOfficePopUp .fusionThemePart {margin-top: 64px;margin-bottom: 64px;}
/* 5.1 Number Select */
.buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber{width:70%;margin-left:auto;margin-right:auto;margin-top:20px;}
.buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber ul .teamNumber a{font-weight:500;font-size:16px;line-height:1;color:#222222;border-radius:20px;padding:7px 30px;}
.buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber ul .teamNumber{line-height:37px;margin:10px 10px;}
.buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber ul .teamNumber a{background:#DAF2FA;}
.buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber ul .teamNumber a:hover, .buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber ul .teamNumber .selectNumber {background: #327C93;color: #fff;}
.buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber ul{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}

/* 5.2 Area Select */
.buildYourOfficePopUp .fusionThemePart .areaMainWrap {margin-top: 50px;}
.buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea{width:75%;margin-left:auto;margin-right:auto;margin-top:20px;}
.buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea ul .chooseArea a{font-weight:500;font-size:16px;line-height:1;color:#222222;border-radius:20px;padding:7px 30px;}
.buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea ul .chooseArea{line-height:37px;margin:10px 10px;}
.buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea ul .chooseArea a{background:#DAF2FA;}
.buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea ul .chooseArea a:hover, .buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea ul .chooseArea .selectArea {background: #327C93;color: #fff;}
.buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea ul{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}

/* Last Loading pop up */
.buildLoadingPopUp {background-color: #000;height: 100vh;position: relative;}
.buildLoadingPopUp .buildPopUpWrap {background-color: #ffffff;background: #FFFFFF;border-radius: 10px;width: 1190px;margin: auto;position: absolute;left: 0;right: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.buildLoadingPopUp .popUpHeadPart .popUpHead {font-weight: 600;font-size: 45px;line-height: 64px;color: #222222;}
.buildLoadingPopUp .buildPopUpWrap .popUpHeadPart {width: 75%;margin-left: auto;margin-right: auto;}
.buildLoadingPopUp .buildPopUpWrap .buildWrapMain{padding: 70px 70px 47px;}
.buildLoadingPopUp .loadingNumber .exporeBtn {width: 100%;text-align: center;}
.buildLoadingPopUp .loadingNumber .exporeBtn .exporeNow{cursor:pointer;display:inline-block;background:#DFDFDF;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #DFDFDF;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.buildLoadingPopUp .loadingNumber .exporeBtn .enableButton {background: #327c93;border: 1px solid #327c93;}
.buildLoadingPopUp .loadingNumber {text-align: center;margin-top: 70px;}
.buildLoadingPopUp .loadingNumber .loadingCountNumner {font-weight: 600;font-size: 144px;line-height: 1;color: #327C93;margin-bottom: 153px;}

@media(max-width:1500px){    
    .buildYourOfficePopUp .buildPopUpWrap, .buildLoadingPopUp .buildPopUpWrap {width: 85%;}
    .buildYourOfficePopUp .popUpHeadPart .popUpHead, .buildLoadingPopUp .popUpHeadPart .popUpHead {font-size: 40px;}

    /* 4 Select Theme */
    .buildYourOfficePopUp .selectThemePart .themeBox {margin: 5px 10px;}
    .buildYourOfficePopUp .selectThemePart {margin-top: 14px;margin-bottom: 14px;}
}

@media(max-width:1400px){
    .buildYourOfficePopUp .buildPopUpWrap .buildWrapMain {padding: 50px 70px 40px;}
    .buildLoadingPopUp .buildPopUpWrap .buildWrapMain {padding: 50px 70px 47px;}

    /* 3 - The City of Dreams */
    .buildYourOfficePopUp .mumbaiLocationPart {margin-bottom: 108px;}

    /* 4 Select Theme */
    .buildYourOfficePopUp .selectThemePart .themeBox {margin: 9px 10px;}
    .buildYourOfficePopUp .selectThemePart {margin-top: 17px;margin-bottom: 17px;}
}

@media (max-width:1279px){
    .buildYourOfficePopUp .buildPopUpWrap .buildWrapMain {padding: 50px 40px 40px;}
    .buildLoadingPopUp .buildPopUpWrap .buildWrapMain {padding: 50px 40px 40px;}
    /* 1 Build your office in 5 mins! */
    .buildYourOfficePopUp .popUpHeadPart .popUpHead{font-size: 30px;line-height: 50px;}
    .buildLoadingPopUp .popUpHeadPart .popUpHead {font-size: 30px;line-height: 50px;}
    .buildLoadingPopUp .buildPopUpWrap .popUpHeadPart, .buildYourOfficePopUp .buildPopUpWrap .popUpHeadPart, .buildYourOfficePopUp .selectThemePart, 
    .buildYourOfficePopUp .mumbaiLocationPart, .buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber, 
    .buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea {width: 100%;}
}

@media(max-width:1023px){
    .buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup {width: calc(100% / 2 - 20px);margin: 15px 10px 15px;}
}

@media(max-width:767px){
    .buildYourOfficePopUp .buildPopUpWrap {height: 350px;overflow: scroll;}
    .buildYourOfficePopUp .buildPopUpWrap, .buildLoadingPopUp .buildPopUpWrap {width: 95%;}
    .buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup{width:100%;margin:5px 0;}
    .buildYourOfficePopUp .buildPopUpWrap .buildWrapMain, .buildLoadingPopUp .buildPopUpWrap .buildWrapMain{padding:20px 20px 30px;}
    .buildYourOfficePopUp .buildPopUpWrap .buildWrapMain .buildOfficeForm{margin-top:20px;margin-bottom:20px;}
    .buildYourOfficePopUp .popUpHeadPart .popUpHead {font-size: 22px;line-height: 30px;margin-bottom: 10px;}
    .buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup{width:100%;margin:5px 0;}    
    .buildYourOfficePopUp .buildPopUpWrap .buildWrapMain .buildOfficeForm{margin-top:20px;margin-bottom:20px;}
    .buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup input{font-size:14px;height:55px;}
    .buildYourOfficePopUp .buildOfficeForm .buildInputField .formGroup .formFieldName{top:20px;font-size:14px;}
    .buildLoadingPopUp .popUpHeadPart .popUpHead {font-size: 20px;line-height: 30px;}
    .buildLoadingPopUp .loadingNumber {margin-top: 10px;}
    .buildLoadingPopUp .loadingNumber .loadingCountNumner {margin-bottom: 20px;font-size: 80px;}
    .buildLoadingPopUp .loadingNumber .exporeBtn .exporeNow {font-size: 14px;padding: 12px 35px;}
    .buildYourOfficePopUp .formBtn .buildNext {font-size: 14px;padding: 12px 35px;}
}

@media(max-width:567px){
    .buildYourOfficePopUp .buildPopUpWrap {height: initial;overflow: initial;}
    .buildYourOfficePopUp .popUpHeadPart .popUpHead {font-size: 20px;line-height: 25px;}
    .buildYourOfficePopUp .buildSelectCityMain ul .cityList{width:calc(100% / 3 - 0px);margin:10px 0px;}
    .buildYourOfficePopUp .buildPopUpWrap .buildWrapMain .buildSelectCityMain{margin-top:20px;margin-bottom:30px;height:280px;overflow:scroll;}
    .buildYourOfficePopUp .mumbaiLocationPart {margin-top: 10px;margin-bottom: 10px;}
    .buildYourOfficePopUp .mumbaiLocationPart .locationNameMumbai {margin: 7px 2px;line-height: 30px;}
    .buildYourOfficePopUp .mumbaiLocationPart .locationNameMumbai a{font-size: 14px;padding: 5px 15px;}
    .buildYourOfficePopUp .selectThemePart .themeBox {width: calc(100% / 2 - 10px);margin: 5px 5px;}
    .buildYourOfficePopUp .selectThemePart .themeBox .themeHead {font-size: 14px;line-height: 20px;margin-top: 5px;}

    .buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber ul .teamNumber a{font-size:14px;padding:5px 15px;}
    .buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber ul .teamNumber {margin: 5px;line-height: 2;}
    .buildYourOfficePopUp .fusionThemePart .closetNumberMainWrap .fusionNumber {margin-top: 10px;}

    .buildYourOfficePopUp .fusionThemePart .areaMainWrap{margin-top:20px;}
    .buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea{margin-top:10px;}
    .buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea ul .chooseArea{line-height:2;margin:5px;}
    .buildYourOfficePopUp .fusionThemePart .areaMainWrap .fusionArea ul .chooseArea a{font-size:14px;padding: 5px 10px;}
    .buildYourOfficePopUp .fusionThemePart{margin-top:20px;margin-bottom:20px;}
    .buildYourOfficePopUp .selectThemePart .themeBox .themeRadiobtn {width: 12px;height: 12px;right: 5px;top: 5px;}
}