.proposalTabSection .proposalTabMainBox{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:74%;margin-left:auto;margin-right:auto;}
.proposalTabSection .proposalTabMainBox .proposalBox{margin:0 9px;width:calc(100% / 4 - 0px);}
.proposalTabSection .proposalTabMainBox .proposalBox a{border:1px solid #EFEFEF;border-radius:10px;height:84px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0 20px;-webkit-transition: .5s all;-o-transition: .5s all;transition: .5s all;}
.proposalTabSection .proposalTabMainBox .proposalBox .firstHead{font-weight:500;font-size:16px;line-height:24px;color:#327C93;word-break: break-word;}
.proposalTabSection .proposalTabMainBox .proposalBox .secondHead{font-weight:600;font-size:24px;line-height:36px;color:#8DCFE3;}
.proposalTabSection .proposalTabMainBox .proposalBox .thirdHead{font-size:16px;line-height:24px;color:#222222;}
.proposalTabSection .proposalTabMainBox .proposalBox a:hover, .proposalTabSection .proposalTabMainBox .proposalBox.active a{-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);}

/* Layout Tab Section */
.proposalLayoutSection {padding-top: 100px;}
.proposalLayoutSection .propLayoutMainWrap{width:85%;margin-left:auto;margin-right:auto;}
.proposalLayoutSection .mainDropDown{text-align:right;margin-bottom:30px;}
.proposalLayoutSection .mainDropDown .formGroup {display: inline-block;position: relative;}
.proposalLayoutSection .mainDropDown .formGroup select{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #CDCDCD;border-radius:10px;height:40px;font-weight:500;font-size:14px;line-height:21px;color:#222222;padding-left:20px;padding-right:50px;width: 298px;}
.proposalLayoutSection .mainDropDown .formGroup .downImg {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;right: 24px;top: 40%;}

/* Flexi Tab Section */
.proposalFlexi {padding-top: 100px;}
.proposalFlexi .propFlexiMainWrap{width:85%;margin-left:auto;margin-right:auto;}
.proposalFlexi .mainDropDown{text-align:right;margin-bottom:30px;}
.proposalFlexi .mainDropDown .formGroup {display: inline-block;position: relative;}
.proposalFlexi .mainDropDown .formGroup select{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #CDCDCD;border-radius:10px;height:40px;font-weight:500;font-size:14px;line-height:21px;color:#222222;padding-left:20px;padding-right:50px;width: 298px;}

.proposalFlexi .mainDropDown .formGroup .downImg {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;right: 24px;top: 40%;}

@media(max-width:1279px){
    .proposalTabSection .proposalTabMainBox {width: 90%;}

    /* Layout Tab Section */
    .proposalLayoutSection {padding-top: 50px;}

    /* Flexi Tab Section */
    .proposalFlexi {padding-top: 50px;}
}

@media(max-width:1023px){
    .proposalTabSection .proposalTabMainBox {width: 100%;}
    .proposalTabSection {padding-top: 50px;padding-bottom: 20px;}
    .proposalTabSection .proposalTabMainBox .proposalBox .thirdHead {font-size: 14px;}

    /* Layout Tab Section */
    .proposalLayoutSection {padding-top: 20px;}

    /* Flexi Tab Section */
    .proposalFlexi {padding-top: 20px;}
}

@media(max-width:767px){
    .proposalTabSection .proposalTabMainBox .proposalBox {width: calc(100% / 2 - 10px);margin: 0 5px 10px;}
    .proposalTabSection .proposalTabMainBox {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .proposalTabSection {padding-top: 0;padding-bottom: 0;}
}