.communityPartnerCardSection {padding-top: 100px;padding-bottom: 60px;}
.communityPartnerCardSection .communiPartWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-20px;margin-right:-20px;}
.communityPartnerCardSection .communiPartWrap .communiPartBox{width:calc(100% / 3 - 40px);text-align:center;-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);border-radius:20px;padding:50px 25px;margin:0 20px 40px;}
.communityPartnerCardSection .communiPartWrap .communiPartBox .commuImg{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:100px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.communityPartnerCardSection .communiPartWrap .communiPartBox .commuImg img{width:auto;}
.communityPartnerCardSection .communiPartWrap .communiPartBox .communiHead{font-weight:500;font-size:18px;line-height:27px;color:#222222;margin-top:25px;margin-bottom:15px;}

@media(max-width: 1279px){
    .communityPartnerCardSection {padding-top: 60px;padding-bottom: 60px;}
    .communityPartnerCardSection .communiPartWrap .communiPartBox{width:calc(100% / 3 - 20px);margin:0 10px 20px;}
    .communityPartnerCardSection .communiPartWrap{margin-left:-10px;margin-right:-10px;}

    /* Accel - Investment Firms Page */
    .accelInvestFirmCommunitySection .communiPartWrap .communiPartBox .commuImg img {width: 100%;-o-object-fit: contain;object-fit: contain;height: 100%;}
}
@media(max-width: 1023px){    
    .communityPartnerCardSection {padding-top: 30px;padding-bottom: 30px;}
    .communityPartnerCardSection .communiPartWrap .communiPartBox {width: calc(100% / 2 - 20px);}
}
@media(max-width: 767px){

    /* Accel - Investment Firms Page */
    .accelInvestFirmCommunitySection .communiPartWrap {margin-top: 40px;}
    
}
@media(max-width: 567px){
    .communityPartnerCardSection .communiPartWrap .communiPartBox{width:100%;margin-left:0;margin-right:0;margin-bottom:15px;padding: 30px 25px;}
    .communityPartnerCardSection .communiPartWrap{margin-left:0;margin-right:0;}
    .communityPartnerCardSection .communiPartWrap .communiPartBox .communiHead {margin-top: 15px;margin-bottom: 10px;}
}