.connectedLocationSection{padding-top: 100px;padding-bottom: 100px;}
.connectedLocationSection .connectedMainWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.connectedLocationSection .connectedMainWrap > div{width:calc(100% / 2 - 0px);}
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox{width:calc(100% / 4 - 0px);text-align:center;padding:0 14px;}
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox .connImg img{width:54px;-o-object-fit:contain;object-fit:contain;}
.connectedLocationSection .connectedMainWrap .leftPart .connectedHead {font-weight: normal;font-size: 28px;line-height: 42px;color: #222222;font-weight: 500;}
.connectedLocationSection .connectedMainWrap .leftPart .siteBtn {margin-top: 30px;}
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox .locationName{font-size:16px;line-height:24px;color:#222222;}
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox .locationKm{font-weight:600;font-size:20px;line-height:30px;color:#222222;}
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-child(1), 
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-child(2), 
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-child(3), 
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-child(4) {margin-bottom: 50px;}
.connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox .connImg {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;min-height: 75px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}

@media(max-width:1279px){
    .connectedLocationSection{padding-top: 60px;padding-bottom: 60px;}
    .connectedLocationSection .connectedMainWrap .leftPart .connectedHead br {display: none;}
}

@media(max-width:1023px){
    .connectedLocationSection{padding-top: 30px;padding-bottom: 30px;}
    .connectedLocationSection .connectedMainWrap > div {width: 100%;}
    .connectedLocationSection .connectedMainWrap .leftPart .connectedHead {font-size: 25px;line-height: 40px;}
    .connectedLocationSection .connectedMainWrap .leftPart .siteBtn {margin-top: 20px;}
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-child(1), 
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-child(2),
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-child(3), 
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-child(4) {margin-bottom: 40px;}
    .connectedLocationSection .connectedMainWrap .leftPart {margin-bottom: 40px;}
}

@media(max-width:767px){
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox .locationName {font-size: 14px;}
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox .locationKm {font-size: 16px;}
    .connectedLocationSection .connectedMainWrap .leftPart .connectedHead {font-size: 20px;line-height: 30px;}
}

@media(max-width:567px){
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox{width:calc(100% / 3 - 0px);margin-bottom:20px !important;padding:0 5px;}
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:last-child, 
    .connectedLocationSection .connectedMainWrap .rightPart .connectIconWrap .connIconBox:nth-last-child(2){margin-bottom:0 !important;}
}