.devxYourClientSection{padding-top:100px;padding-bottom:100px;}
.devxYourClientSection .devxYourMain{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.devxYourClientSection .devxYourMain > div{width:50%;}
.devxYourClientSection .devxYourNumber{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.devxYourClientSection .devxYourNumber .devxYourNumberBox{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:calc(100% / 2 - 0px);margin-bottom: 55px;position: relative;}
.devxYourClientSection .devxYourNumber .devxYourNumberBox span{font-weight:bold;font-size:64px;line-height:96px;color:#E1F6FD;position:absolute;left:0;}
.devxYourClientSection .devxYourNumber .devxYourNumberBox .devxYourNumberHead{font-weight:500;font-size:18px;line-height:27px;margin-left:20px;z-index:1;color: #222222;}
.devxYourClientSection .devxYourNumber .devxYourNumberBox:last-child,.devxYourClientSection .devxYourNumber .devxYourNumberBox:nth-last-child(2){margin-bottom:0;}
.devxYourClientSection .devxYourMain .leftPart .devxYourContent{margin-bottom:25px;padding-right: 100px;}
.devxYourClientSection .devxYourMain .rightPart {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.devxYourClientSection .devxYourMain .leftPart .siteBtn {margin-top: 65px;}
.devxYourClientSection .devxYourNumber .devxYourNumberBox .devxNumberIcon {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}

@media(max-width:1279px){
    .devxYourClientSection {padding-top: 60px;padding-bottom: 60px;}
}

@media(max-width:1023px){
    .devxYourClientSection {padding-top: 30px;padding-bottom: 30px;}
    .devxYourClientSection .devxYourMain .leftPart {width: 100%;padding-right: 0;}
    .devxYourClientSection .devxYourMain .rightPart {width: 100%;margin-bottom: 40px;}
    .devxYourClientSection .devxYourMain .rightPart img {width: 70%;}
    .devxYourClientSection .devxYourMain {-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;}
    .devxYourClientSection .devxYourNumber .devxYourNumberBox {margin-bottom: 40px;}
    .devxYourClientSection .devxYourMain .leftPart .siteBtn {margin-top: 40px;}
    .devxYourClientSection .devxYourMain .leftPart .devxYourContent {padding-right: 0;}
    .devxYourClientSection .devxYourNumber .devxYourNumberBox .devxYourNumberHead br {display: none;}
}

@media(max-width:567px){
    .devxYourClientSection .devxYourMain .rightPart img{width:100%;}
    .devxYourClientSection .devxYourMain .rightPart{margin-bottom:30px;}
    .devxYourClientSection .devxYourNumber .devxYourNumberBox{width:100%;margin-bottom:30px !important;}
    .devxYourClientSection .devxYourNumber .devxYourNumberBox:last-child{margin-bottom:0 !important;}
    .devxYourClientSection .devxYourMain .leftPart .siteBtn {margin-top: 25px;}
}