.embassadorsSection {padding-top: 100px;padding-bottom: 100px;}            
.embassadorsSection .embassadorsMain{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-38px;margin-right:-38px;}
.embassadorsSection .embassadorsMain .embassadorsBox{width:calc(25% - 76px);position:relative;margin:0 38px 76px;}
.embassadorsSection .embassadorsMain .embassadorsImg{display:-webkit-box;display:-ms-flexbox;display:flex;overflow:hidden;border-radius: 20px;}
.embassadorsSection .embassadorsMain .embassadorsImg img{border-radius:20px;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.embassadorsSection .embassadorsMain .embassadorsBox:hover .embassadorsImg img {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);-webkit-transition: .5s all;-o-transition: .5s all;transition: .5s all;}
.embassadorsSection .embassadorsMain .embassadorsBox .embassadorsDetail{position:absolute;bottom:15px;left:20px;color:#fff;}
.embassadorsSection .embassadorsMain .embassadorsBox .embassadorsDetail .embassadorBoxHead{font-weight:600;font-size:18px;line-height:25px;color: #ffffff;}
.embassadorsSection .embassadorsMain .embassadorsBox .embassadorsDetail .embassadorBoxHead span{display:block;font-weight:normal;font-size:14px;line-height:19px;}

@media(max-width: 1279px){
    .embassadorsSection {padding-top: 60px;padding-bottom: 60px;}
    .embassadorsSection .embassadorsMain {margin-left: -10px;margin-right: -10px;}
    .embassadorsSection .embassadorsMain .embassadorsBox {margin: 0 10px 20px;width: calc(25% - 20px);}
}
@media(max-width:1023px){
    .embassadorsSection .embassadorsMain .embassadorsBox {width: calc(100% / 3 - 20px);}
    .embassadorsSection .embassadorsMain {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
    .embassadorsSection {padding-top: 30px;padding-bottom: 30px;}
}
@media(max-width:767px){
    .embassadorsSection .embassadorsMain .embassadorsBox {width: calc(100% / 2 - 20px);}
    .embassadorsSection .embassadorsMain .embassadorsBox .embassadorsDetail .embassadorBoxHead span {font-size: 12px;line-height: 17px;}
    .embassadorsSection .embassadorsMain .embassadorsBox .embassadorsDetail .embassadorBoxHead {font-size: 14px;line-height: 20px;}
    .embassadorsSection .embassadorsMain .embassadorsBox:last-child {margin-bottom: 0;}
    .embassadorsSection .embassadorsMain .embassadorsBox:nth-last-child(2) {margin-bottom: 0;}
}