.faqSection {padding-top: 100px;padding-bottom: 100px;}
.faqSection .tabWithAccordian .tabbingAccordian ul{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;}
.faqSection .tabWithAccordian .tabHead{text-align:center;}
.faqSection .tabWithAccordian .tabList{width:80%;margin:auto;text-align:left;}
.faqSection .tabWithAccordian .accordHead{padding:17px 45px 17px 20px;font-weight:500;cursor:pointer;position:relative;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;border:1px solid #EFEFEF;border-radius:10px;font-size:14px;line-height:24px;color:#222222;}
.faqSection .tabWithAccordian .accordContent{padding:20px;display:none;}
.faqSection .tabWithAccordian .tabAccor{margin:25px 0;}
.faqSection .tabWithAccordian .tabAccor:last-child {margin-bottom: 0;}
/* .faqSection .tabWithAccordian .accordHead:hover, .faqSection .tabWithAccordian .accordHead.some{box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);} */
.faqSection .tabWithAccordian .accordHead img{width:auto;position:absolute;right:20px;top:45%;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
.faqSection .tabWithAccordian .accordHead.some img {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}

/* Accel Cohort Page */
.accelCohortFaq .accelCoFaqHead{width:80%;margin-left:auto;margin-right:auto;text-align:center;margin-bottom: 70px;}
.accelCohortFaq .accelCoFaqHead .secSubhead {margin-bottom: 20px;}

@media(max-width: 1279px){
    .faqSection {padding-top: 60px;padding-bottom: 60px;}
    .faqSection .tabWithAccordian .tabList {width: 100%;}
    .faqSection .tabWithAccordian .tabAccor {margin: 15px 0;}
}
@media(max-width: 1023px){    
    .faqSection {padding-top: 30px;padding-bottom: 30px;}

    /* Accel Cohort Page */
    .accelCohortFaq .accelCoFaqHead {width: 100%;margin-bottom: 30px;}
}
@media(max-width: 767px){
    
}
@media(max-width: 567px){

}