.amenitiesSection {padding-top: 100px;padding-bottom: 100px;}            
.amenitiesSection .amenitMainBox{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.amenitiesSection .amenitMainBox .aminitiBox{width:calc(100% / 6 - 30px);text-align:center;margin:0 15px 50px;}
.amenitiesSection .amenitMainBox .aminitiBox .aminitiIconContent p{line-height:24px;margin-top: 15px;}
.amenitiesSection .amenitMainBox .aminitiBox .aminitiIcon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;min-height:32px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.amenitiesSection .amenitMainBox .aminitiBox .aminitiIcon img {width: auto;}

/* Collab */
/* Coworking Space in Ahmedabad */
.collabCoworkSpaceAhmedaAmenitiSection {padding-bottom: 50px;}

/* Flexi Desk in Ahmedabad */
.collabFlexDeskAminitiesSection {padding-bottom: 50px;}

@media(max-width:1279px){
    .amenitiesSection {padding-top: 60px;padding-bottom: 60px;}                
    .amenitiesSection .amenitMainBox {margin-left: -10px;margin-right: -10px;}
    .amenitiesSection .amenitMainBox .aminitiBox {width: calc(100% / 6 - 20px);margin: 0 10px;margin-bottom: 20px;}
    .amenitiesSection .amenitMainBox .aminitiBox .aminitiIconContent p {font-size: 15px;}
    
    /* Collab */
    /* Coworking Space in Ahmedabad */
    .collabCoworkSpaceAhmedaAmenitiSection {padding-bottom: 40px;}
}
@media(max-width:1023px){
    .amenitiesSection .amenitMainBox .aminitiBox {width: calc(100% / 4 - 20px);}
    .amenitiesSection {padding-top: 30px;padding-bottom: 30px;}
    .amenitiesSection .siteBtn {margin-top: 30px;}
}
@media(max-width: 767px){
    .amenitiesSection .amenitMainBox .aminitiBox {width: calc(100% / 3 - 20px);}
    .amenitiesSection .amenitMainBox .aminitiBox .aminitiIconContent p {font-size: 14px;}
}
@media(max-width: 567px){
    .amenitiesSection .amenitMainBox .aminitiBox:last-child {margin-bottom: 0;}
    .amenitiesSection .amenitMainBox .aminitiBox:nth-last-child(2) {margin-bottom: 0;}
}

@media(max-width: 350px){
    .amenitiesSection .amenitMainBox .aminitiBox {width: calc(100% / 2 - 20px);}
}

/* Second Amenities */
.secondAmenities {padding-top: 100px;padding-bottom: 100px;}            
.secondAmenities .amenitMainBox{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.secondAmenities .amenitMainBox .aminitiBox{width:calc(100% / 2 - 30px);text-align:center;border-radius:20px;padding:25px 20px 20px;margin:0 15px;margin-bottom:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);}
.secondAmenities .amenitMainBox .aminitiBox .aminitiIconContent p{font-weight:600;line-height:22px;}
.secondAmenities .amenitMainBox .aminitiBox .aminitiIcon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;min-height:32px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:20px;}
.secondAmenities .secondAminitWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.secondAmenities .secondAminitWrap .leftPart {width: 40%;display: -webkit-box;display: -ms-flexbox;display: flex;padding-right: 30px;}
.secondAmenities .secondAminitWrap .rightPart{width:60%;padding-left: 60px;}
.secondAmenities .amenitMainBox .aminitiBox .aminitiIconContent {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
@media(max-width:1279px){
    .secondAmenities {padding-top: 60px;padding-bottom: 60px;}
    .secondAmenities .amenitMainBox {margin-left: -10px;margin-right: -10px;}
    .secondAmenities .amenitMainBox .aminitiBox {margin: 0 10px;margin-bottom: 20px;width: calc(100% / 2 - 20px);}                
    .secondAmenities .secondAminitWrap .rightPart {padding-left: 0px;}
    .secondAmenities .amenitMainBox .aminitiBox .aminitiIcon {margin-right: 15px;}
    .secondAmenities .amenitMainBox .aminitiBox .aminitiIconContent p {font-size: 15px;}
}
@media(max-width:1023px){
    .secondAmenities .secondAminitWrap .leftPart{width:100%;margin-bottom:40px;padding-right: 0;}
    .secondAmenities .secondAminitWrap .rightPart{width:100%;padding-left: 0;}
    .secondAmenities .secondAminitWrap .leftPart img{width:50%;margin:auto;}
    .secondAmenities {padding-top: 30px;padding-bottom: 30px;}
}
@media(max-width:567px){
    .secondAmenities .secondAminitWrap .leftPart img{width:85%;}
    .secondAmenities .amenitMainBox .aminitiBox{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:20px 20px 15px;}
    .secondAmenities .amenitMainBox .aminitiBox .aminitiIcon{margin-right:0;margin-bottom:20px;}
    .secondAmenities .amenitMainBox .aminitiBox .aminitiIcon img{width:auto;}
    .secondAmenities .amenitMainBox .aminitiBox:last-child {margin-bottom: 0;}
    .secondAmenities .amenitMainBox .aminitiBox:nth-last-child(2) {margin-bottom: 0;}
}


/* Third Amenities */
.thirdAmenities {padding-top: 100px;padding-bottom: 100px;}            
.thirdAmenities .amenitMainBox{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.thirdAmenities .amenitMainBox .aminitiBox{width:calc(100% / 2 - 30px);text-align:center;border-radius:20px;padding:25px 20px 20px;margin:0 15px;margin-bottom:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);}
.thirdAmenities .amenitMainBox .aminitiBox .aminitiIconContent p{font-weight:600;line-height:22px;}
.thirdAmenities .amenitMainBox .aminitiBox .aminitiIcon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;min-height:32px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:20px;}
.thirdAmenities .thirdAminitWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.thirdAmenities .thirdAminitWrap .leftPart {width: 60%;display: -webkit-box;display: -ms-flexbox;display: flex;padding-right: 60px;}
.thirdAmenities .thirdAminitWrap .rightPart{width:40%;padding-left: 30px;}
.thirdAmenities .amenitMainBox .aminitiBox .aminitiIconContent {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
@media(max-width:1279px){
    .thirdAmenities {padding-top: 60px;padding-bottom: 60px;}
    .thirdAmenities .amenitMainBox {margin-left: -10px;margin-right: -10px;}
    .thirdAmenities .amenitMainBox .aminitiBox {margin: 0 10px;margin-bottom: 20px;width: calc(100% / 2 - 20px);}
    .thirdAmenities .thirdAminitWrap .leftPart {padding-right: 0px;}
    .thirdAmenities .amenitMainBox .aminitiBox .aminitiIcon {margin-right: 15px;}
    .thirdAmenities .amenitMainBox .aminitiBox .aminitiIconContent p {font-size: 15px;}
}
@media(max-width:1023px){
    .thirdAmenities .thirdAminitWrap .leftPart{width:100%;padding-right:0;}
    .thirdAmenities .thirdAminitWrap .rightPart{padding-left:0;width:100%;text-align:center;margin-bottom:30px;}
    .thirdAmenities .thirdAminitWrap .rightPart img{width:50%;margin:auto;}
    .thirdAmenities .thirdAminitWrap{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
    .thirdAmenities {padding-top: 30px;padding-bottom: 30px;}
}
@media(max-width:567px){
    .thirdAmenities .thirdAminitWrap .rightPart img{width:85%;}
    .thirdAmenities .amenitMainBox .aminitiBox{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:20px 20px 15px;}
    .thirdAmenities .amenitMainBox .aminitiBox .aminitiIcon{margin-right:0;margin-bottom:20px;}
    .thirdAmenities .amenitMainBox .aminitiBox .aminitiIcon img{width:auto;}
    .thirdAmenities .amenitMainBox .aminitiBox:last-child {margin-bottom: 0;}
    .thirdAmenities .amenitMainBox .aminitiBox:nth-last-child(2) {margin-bottom: 0;}
}