.institutionalCenterSection{padding-top:100px;padding-bottom:100px;}
.institutionalCenterSection .instiMainWrap{text-align:center;position:relative;width:80%;margin:0 auto;}
.institutionalCenterSection .instiMainWrap .secSubhead {margin-bottom: 20px;}
.institutionalCenterSection .instituContent p {margin-bottom: 25px;}
.institutionalCenterSection .instituContent p:last-child {margin-bottom: 0;}
.institutionalCenterSection .instiMainWrap .secQuatTop {display: -webkit-box;display: -ms-flexbox;display: flex;position: absolute;top: -20px;left: -80px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.institutionalCenterSection .instiMainWrap .secQuatBottom{display:-webkit-box;display:-ms-flexbox;display:flex;position:absolute;right:-80px;bottom:-70px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}

/* Consight Landing Page */
.consightInstitutionalSection .instiMainWrap {width: 88%;}
.consightInstitutionalSection .instituContent p {margin-bottom: 30px;}

/* Phi Design Corporate Office */
.phiDesignCorpoOfficeInstitutional .instiMainWrap {width: 70%;}

@media(max-width:1279px){
    .institutionalCenterSection{padding-top:60px;padding-bottom:60px;}
    .institutionalCenterSection .instiMainWrap .secQuatTop {top: 0px;left: -60px;width: 8%;}
    .institutionalCenterSection .instiMainWrap .secQuatBottom {width: 8%;bottom: 0;right: -70px;}
}

@media(max-width:1023px){
    .institutionalCenterSection{padding-top:30px;padding-bottom:30px;}
    .institutionalCenterSection .instiMainWrap {width: 100%;}
    .institutionalCenterSection .instiMainWrap .secQuatTop {left: 0;}
    .institutionalCenterSection .instiMainWrap .secQuatBottom {right: 0;bottom: -10px;}
}

@media(max-width:767px){
    .institutionalCenterSection .instiMainWrap .secQuatTop, .institutionalCenterSection .instiMainWrap .secQuatBottom{width: 10%;}
    .institutionalCenterSection .instiMainWrap .secSubhead {margin-bottom: 10px;}
    .institutionalCenterSection .instituContent p {margin-bottom: 15px;}
}

@media(max-width:567px){
    .institutionalCenterSection .instiMainWrap {padding-top: 20px;}
}