.collabManageOfficePageSection{padding-top: 100px;padding-bottom: 100px;}
.collabManageOfficePageSection .memberSubHead{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:20px;}
.collabManageOfficePageSection .memberSubHead .memberIcon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:20px;}
.collabManageOfficePageSection .memberSubHead .manageBoxHead{font-weight:500;font-size:18px;line-height:27px;color: #222222;}
.collabManageOfficePageSection .memberBoxWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.collabManageOfficePageSection .memberBoxWrap .memberBox{width:calc(100% / 4 - 30px);-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);border-radius:20px;padding:33px 17px;margin:15px 15px;}

/* Consight Landing Page */
.consightLandingManageOffice .sectionSecondHeading {margin-left: auto;margin-right: auto;width: 75%;}
.consightLandingManageOffice .memberSubHead .memberIcon img {width: auto;}

/* Managed Office City Pages Build Office Section */
.managOffBuildOfficeSection{background-color:#FCFCFF;position:relative;padding: 73px 0;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap{display:flex;flex-wrap:wrap;align-items:center;position:relative;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap > div{width:50%;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap .leftPart .mainImg{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;}
.managOffBuildOfficeSection:before{position:absolute;content:'';right:0;top:0;bottom:0;background-color:#327C93;width:50%;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap .buildOffManageheading{font-weight:600;font-size:42px;line-height:63px;color:#FFFFFF;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap .rightPart{padding-left:70px;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap .siteBtn{margin-top:30px;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap .siteBtn a{background:#fff;border-color:#fff;color:#327C93;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap .siteBtn a:hover{background-color:transparent;color:#fff;}
.managOffBuildOfficeSection .BuildOfficeSectionWrap .leftPart{position:relative;}
.managOffBuildOfficeSection .rightDoubleTriangle{position:absolute;right:60px;top:-20px;display:flex;align-items:center;justify-content:center;}
.managOffBuildOfficeSection .leftDoubleTriangle{position:absolute;left:0;top:10%;display:flex;align-items:center;justify-content:center;}
.managOffBuildOfficeSection .rightCirTriSml{position:absolute;bottom:0;right:60px;display:flex;align-items:center;justify-content:center;}
.managOffBuildOfficeSection .multiLessthan{position:absolute;bottom:-30px;left:-30px;display:flex;align-items:center;justify-content:center;}
.managOffBuildOfficeSection .mainCircleBig{position:absolute;left:50px;top:40px;display:flex;align-items:center;justify-content:center;width: 6%;}
.managOffBuildOfficeSection .cirlceTriBig{display:flex;align-items:center;justify-content:center;position:absolute;left:130px;bottom:150px;}

@media(max-width:1500px){
    .collabManageOfficePageSection .memberSubHead .manageBoxHead {font-size: 16px;}

    /* Managed Office City Pages Build Office Section */
    .managOffBuildOfficeSection .mainCircleBig {left: 20px;top: 30px;}
}

@media(max-width:1279px){
    .collabManageOfficePageSection {padding-top: 60px;padding-bottom: 60px;}
    .collabManageOfficePageSection .memberBoxWrap{margin-left:-10px;margin-right:-10px;}
    .collabManageOfficePageSection .memberBoxWrap .memberBox{width:calc(100% / 4 - 20px);margin:10px 10px;}

    /* Managed Office City Pages Build Office Section */
    .managOffBuildOfficeSection .BuildOfficeSectionWrap .buildOffManageheading {font-size: 35px;line-height: 50px;}
}

@media(max-width:1023px){
    .collabManageOfficePageSection {padding-top: 30px;padding-bottom: 30px;}
    .collabManageOfficePageSection .memberBoxWrap .memberBox {width: calc(100% / 2 - 20px);margin: 0 10px 20px;}

    /* Managed Office City Pages Build Office Section */
    .managOffBuildOfficeSection {margin: 20px 0;padding: 60px 0;}
    .managOffBuildOfficeSection .BuildOfficeSectionWrap .rightPart {padding-left: 40px;}
    .managOffBuildOfficeSection .BuildOfficeSectionWrap .buildOffManageheading {font-size: 25px;line-height: 35px;}
    .managOffBuildOfficeSection .rightDoubleTriangle{right:10px;top:-50px;}
    .managOffBuildOfficeSection .leftDoubleTriangle{top:20px;}
    .managOffBuildOfficeSection .rightCirTriSml{right:10px;}
    .managOffBuildOfficeSection .multiLessthan{left:0;bottom:-50px;}
    .managOffBuildOfficeSection .mainCircleBig{left:15px;top:15px;}
    .managOffBuildOfficeSection .cirlceTriBig{left:20px;bottom:100px;}
}

@media(max-width:767px){
    /* Managed Office Page */
    .collabManageOffWhyUs .memberBoxWrap .slick-list {padding-left: 0 !important;}
    .collabManageOffWhyUs .memberBoxWrap .memberBox {-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);box-shadow: 0px 0px 10px rgba(0,0,0,0.1);margin-top: 10px;}
    .collabManageOffWhyUs .membershipMain {margin-left: -10px;margin-right: -15px;}
    .collabManageOffWhyUs .memberBoxWrap {margin-left: 0;margin-right: 0;}
    .collabManageOffWhyUs {margin-bottom: -30px;}
    
    /* Managed Office City Pages Build Office Section */
    .managOffBuildOfficeSection:before{display: none;}
    .managOffBuildOfficeSection .mainCircleBig, .managOffBuildOfficeSection .cirlceTriBig, .managOffBuildOfficeSection .rightDoubleTriangle, .managOffBuildOfficeSection .leftDoubleTriangle,
    .managOffBuildOfficeSection .rightCirTriSml, .managOffBuildOfficeSection .multiLessthan{display: none;}
    .managOffBuildOfficeSection .BuildOfficeSectionWrap > div {width: 100%;}
    .managOffBuildOfficeSection .BuildOfficeSectionWrap .rightPart{position:relative;padding:30px 0;margin-top:30px;text-align: center;}
    .managOffBuildOfficeSection .BuildOfficeSectionWrap .rightPart:before{position:absolute;content:'';left:-15px;right:-15px;width:800px;top:0;bottom:0;background-color:#327C93;z-index:0;}
    .managOffBuildOfficeSection .BuildOfficeSectionWrap .buildOffManageheading{position:relative;}
    .managOffBuildOfficeSection .BuildOfficeSectionWrap .siteBtn{position:relative;margin-top:20px;}
    .managOffBuildOfficeSection{margin:10px 0;padding:30px 0 0;}
    .managOffBuildOfficeSection .BuildOfficeSectionWrap .buildOffManageheading {font-size: 24px;line-height: 40px;}
}

@media(max-width:567px){
    .collabManageOfficePageSection .memberBoxWrap{margin-left:0;margin-right:0;}
    /* .collabManageOfficePageSection .memberBoxWrap .memberBox{width:100%;margin:0 0 15px;} */
    .collabManageOfficePageSection .memberSubHead {margin-bottom: 10px;}

    /* Accel AI and IOT Based */
    .accelAiAndIotBasedSection .memberBoxWrap .memberBox{width:100%;margin-left:0;margin-right:0;margin-bottom:15px;padding:30px 17px;}
    .accelAiAndIotBasedSection .memberBoxWrap .memberBox:last-child {margin-bottom: 0;}

    /* Consight Landing Page */
    .collabManageOfficePageSection .memberBoxWrap .memberBox{width:100%;margin-left:0;margin-right:0;margin-bottom:15px;}
}