.ourWorkCaseStudySection {padding-top: 100px;padding-bottom: 100px;}
.ourWorkCaseStudySection .caseMainWrap {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.ourWorkCaseStudySection .caseMainWrap .leftPart {width: 30%;padding-right: 35px;}
.ourWorkCaseStudySection .caseMainWrap .leftPart .secSubhead {margin-bottom: 20px;}
.ourWorkCaseStudySection .caseMainWrap .rightPart {width: 70%;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -10px;margin-right: -10px;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox {width: calc(100% / 3 - 21px);-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);box-shadow: 0px 0px 30px rgba(0,0,0,0.1);border-radius: 20px;margin: 0 10px;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseImg{display:-webkit-box;display:-ms-flexbox;display:flex;overflow:hidden;border-radius:20px 20px 0 0;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseContent{padding:25px 15px;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseImg img{border-radius:20px 20px 0 0;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;height:190px;-o-object-fit:cover;object-fit:cover;-o-object-position:center center;object-position:center center;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox:hover .ourCaseImg img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseContent .ourCaseCardHead {font-weight: 600;font-size: 17px;margin-bottom: 25px;color: #222222;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseContent a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-weight:normal;font-size:14px;line-height:19px;color:#327C93;}
.ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseContent a img {width: auto;margin-left: 20px;}
.ourWorkCaseStudySection .caseMainWrap .leftPart p {margin-bottom: 20px;}
.ourWorkCaseStudySection .caseMainWrap .leftPart p:last-child {margin-bottom: 0;}

/* Innovent Landing Page */
.innoventLandingOurWorkCase .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseContent a {color: #EF7C29;margin-top: 10px;}
.innoventLandingOurWorkCase .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseContent .ourCaseCardHead{margin-bottom:10px;font-weight:500;font-size:18px;line-height:27px;}
.innoventLandingOurWorkCase .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseImg img{-webkit-transform:scale(1) !important;-ms-transform:scale(1) !important;transform:scale(1) !important;width:auto;width: 80%;object-fit: contain;}
.innoventLandingOurWorkCase .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseImg{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-top:30px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height: 200px;}
.innoventLandingOurWorkCase .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseContent p{font-size:14px;line-height:21px;}

@media(max-width:1279px){
    .ourWorkCaseStudySection {padding-top: 60px;padding-bottom: 60px;}
    .ourWorkCaseStudySection .caseMainWrap .leftPart .secSubhead br {display: none;}
    .ourWorkCaseStudySection .caseMainWrap .leftPart .secSubhead {margin-bottom: 10px;}
}

@media(max-width:1023px){
    .ourWorkCaseStudySection {padding-top: 30px;padding-bottom: 30px;}
    .ourWorkCaseStudySection .caseMainWrap .leftPart {width: 100%;margin-bottom: 30px;padding-right: 0;}
    .ourWorkCaseStudySection .caseMainWrap .rightPart {width: 100%;}
    .ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox .ourCaseContent .ourCaseCardHead br {display: none;}
    
}

@media(max-width:767px){
    /* .ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox {margin-left: 0;margin-right: 0;} */
    /* .ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox {width: 100%;margin: 0 0 15px;} */
    .ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .slick-list.draggable {padding-left: 0 !important;}
    .ourWorkCaseStudySection .caseMainWrap .rightPart .ourWorkCaseMainBox .ourCaseBox {-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);box-shadow: 0px 0px 10px rgba(0,0,0,0.1);margin: 10px 10px 10px;}
}