.perkPartnerSection{padding-top:100px;padding-bottom:100px;}
.perkPartnerSection .perkMainWrap .leftPart .secSubhead {margin-bottom: 20px;}
.perkPartnerSection .perkMainWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.perkPartnerSection .perkMainWrap .leftPart{width:30%;padding-right:60px;}
.perkPartnerSection .perkMainWrap .rightPart{width:70%;}
.perkPartnerSection .perkHeadPart .headingPerk{font-weight:500;font-size:18px;line-height:27px;color:#222222;width:80%;}
.perkPartnerSection .perkHeadPart{margin-bottom:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.perkPartnerSection .perkMainWrap .rightPart .perkMainBox {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: -10px;margin-right: -10px;}
.perkPartnerSection .perkMainWrap .rightPart .perkMainBox .perkBox{width:calc(100% / 3 - 21px);-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);border-radius:20px;padding:30px 15px;margin:0 10px;}
.perkPartnerSection .perkHeadPart .perkIcon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-right:15px;width:20%;}

@media(max-width:1279px){
    .perkPartnerSection{padding-top:60px;padding-bottom:60px;}
    .perkPartnerSection .perkMainWrap .leftPart{width:100%;padding-right:0;}
    .perkPartnerSection .perkMainWrap .rightPart{width:100%;margin-top:50px;}
    .perkPartnerSection .perkMainWrap .leftPart .secSubhead {margin-bottom: 10px;}
}

@media(max-width:1023px){
    .perkPartnerSection{padding-top:30px;padding-bottom:30px;}
    .perkPartnerSection .perkMainWrap .rightPart .perkMainBox .perkBox{width:calc(100% / 2 - 20px);margin:0 10px 20px;}
    .perkPartnerSection .perkMainWrap .rightPart .perkMainBox .perkBox:last-child{margin-bottom:0;}
    .perkPartnerSection .perkMainWrap .rightPart .perkMainBox {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
}

@media(max-width:767px){
    .perkPartnerSection .perkMainWrap .rightPart .perkMainBox{margin-left:0;margin-right:0;}
    .perkPartnerSection .perkMainWrap .rightPart .perkMainBox .perkBox{width:100%;margin: 0 0 20px;}
    .perkPartnerSection .perkMainWrap .rightPart {margin-top: 30px;}
    .perkPartnerSection .perkHeadPart {margin-bottom: 10px;}
}