/* Banner Section */
.rebrandingBanner .contentWrap .leftPart > p {margin-bottom: 0;}

/* Logo Section */
.rebrandingPageLogoSection .mainSiteLogos{display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;}
/* .rebrandingPageLogoSection .mainSiteLogos .logoBox{width:calc(100% / 6 - 0px);} */
.rebrandingPageLogoSection .mainSiteLogos .logoBox a{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;}
/* .rebrandingPageLogoSection .mainSiteLogos .logoBox a img{width:auto;} */
.logoBox {
    width: calc(100% / 6 - 0px);
}

/* Participate */
.rebrandingPageContest .contestHeadingPart{margin-bottom:0;}
.rebrandingPageContest .contestHeadingPart .contestPhotoPart{margin-bottom:0;}

/* Slider Section */
.rebrandingPageSliderSection .sectionhead{margin-bottom:0 !important;width:90%;margin-left:auto;margin-right:auto;}
.rebrandingPageSliderSection .boxSpace .spaceCardHead{margin-bottom:0;margin-top:0;}
.rebrandingPageSliderSection .boxSpace .spaceImg a iframe {width: 100%;height: 220px;}

/* Left Right Video Section */
.rebrandingConLeftVideoSection .contestBox{box-shadow:none;padding:0;margin-bottom:120px;}
.rebrandingConLeftVideoSection .contestBox .secSubhead {margin-bottom: 20px;}
.rebrandingConLeftVideoSection .contestImgVid {border-radius: 20px;}

/* Client Truely */
.rebrandingPageClietnTrue .videoCovidWrap iframe {height: 400px;width: 73%;border-radius: 20px;}

@media(max-width:1500px){
    .rebrandingPageSliderSection .boxSpace .spaceImg a iframe {height: 185px;}
    .rebrandingConLeftVideoSection .contestBox .leftPart .contestImgVid {height: 295px;}
    .rebrandingPageClietnTrue .videoCovidWrap iframe {height: 342px;}
}

@media (max-width:1279px){
    .rebrandMainSiteLogoSection .logoRebrandBox {margin-left: 0;}
    .rebrandMainSiteLogoSection .logoRebrandBox .rebrandLogoImg {margin: 25px 0;}
    .rebrandMainSiteLogoSection .logoRebrandBox .rebrandLogoImg a .logoName{font-size:18px;margin-top:10px;line-height:25px;}
    .rebrandMainSiteLogoSection {padding-top: 40px;padding-bottom: 30px;}
    .rebrandingPageSliderSection .boxSpace .spaceImg a iframe {height: 240px;}
    .rebrandingConLeftVideoSection .contestBox .leftPart .contestImgVid {height: 250px;}
    .contestListSection .contestHeadingPart p br {display: none;}
    .rebrandingConLeftVideoSection .contestBox {margin-bottom: 60px;}
}

@media (max-width:1023px){
    .rebrandMainSiteLogoSection {padding-bottom: 0px;}
    .rebrandingConLeftVideoSection .contestBox .leftPart .contestImgVid {height: 185px;}
    .rebrandingPageSliderSection .boxSpace .spaceImg a iframe {height: 165px;}
    .rebrandingPageClietnTrue .videoCovidWrap iframe {width: 100%;height: 293px;}
    /* Logo Section */
    .rebrandingPageLogoSection .mainSiteLogos .logoBox {margin: 15px 10px;width: calc(100% / 3 - 20px);}
}

@media(max-width:767px){
    .rebrandingBanner .contentWrap .leftPart p {margin-bottom: -15px;}
    .rebrandMainSiteLogoSection .logoRebrandBox .rebrandLogoImg a img{height:30px;}
    .rebrandMainSiteLogoSection .logoRebrandBox .rebrandLogoImg{width:calc(100% / 2 - 30px);margin:20px 15px;}
    .rebrandingConLeftVideoSection .contestBox .secSubhead {margin-bottom: 10px;}
    .rebrandingConLeftVideoSection .contestBox .leftPart .contestImgVid {height: 200px;}
    .rebrandMainSiteLogoSection .logoRebrandBox .rebrandLogoImg a .logoName {line-height: 25px;}
    .rebrandMainSiteLogoSection {padding-top: 0px;}
}

@media(max-width:567px){
    .rebrandingPageLogoSection {padding-top: 0;}
    .rebrandingPageBanner .leftPart {text-align: center;}
    .rebrandingPageLogoSection .contestHeadingPart {margin-bottom: 15px;}
    .rebrandMainSiteLogoSection .logoRebrandBox .rebrandLogoImg{width:100%;margin:15px 0px;}
    .rebrandingPageClietnTrue .videoCovidWrap iframe {height: 200px;}
    .rebrandingPageSliderSection .boxSpace .spaceImg a iframe {height: 157px;}
    .rebrandingPageLogoSection .mainSiteLogos .logoBox {margin: 10px 5px;width: calc(100% / 2 - 10px);}
    .rebrandingConLeftVideoSection .contestBox {margin-bottom: 35px;background: #FFFFFF;-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);box-shadow: 0px 0px 30px rgba(0,0,0,0.1);border-radius: 20px;}
    .rebrandingConLeftVideoSection .contestBox .leftPart .contestImgVid {border-radius: 20px 20px 0 0;}
    .rebrandingConLeftVideoSection .contestBox .rightPart {padding: 20px !important;}
    .rebrandingConLeftVideoSection .contestBox .leftPart {margin-bottom: 0;}
}

@media(max-width:375px){
    .rebrandingConLeftVideoSection .contestBox .leftPart .contestImgVid {height: 186px;}
}