.setUpManagedOfficeSection{padding-top:100px;padding-bottom:100px;}
.setUpManagedOfficeSection .sectionSecondHeading{text-align:center;margin-bottom: 50px;}
.setUpManagedOfficeSection .sectionSecondHeading h2 {font-size: 36px;line-height: 54px;}
.setUpManagedOfficeSection .manageOfficeForm form{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;width:70%;margin:0 auto;}
.setUpManagedOfficeSection .manageOfficeForm form .formGroup{width:calc(100% / 2 - 40px);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0 20px;position: relative;}
.setUpManagedOfficeSection .manageOfficeForm form .formBtn{width:100%;text-align: center;margin-top: 60px;}
.setUpManagedOfficeSection .manageOfficeForm form .formBtn button{display:inline-block;background:#327C93;border-radius:5px;color:#fff;font-weight:600;font-size:16px;line-height:1;padding:14px 50px;border:1px solid #327C93;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;cursor:pointer;}
.setUpManagedOfficeSection .manageOfficeForm form .formBtn button:hover{background: transparent;color: #327C93;}
.setUpManagedOfficeSection .manageOfficeForm form .formGroup label {font-size: 12px;line-height: 22px;font-weight: normal;margin-bottom: 10px;}
.setUpManagedOfficeSection .manageOfficeForm form .formGroup select{border:1px solid #EFEFEF;border-radius:5px;height:54px;padding:0 20px;font-size:16px;line-height:22px;font-family:'Poppins',sans-serif;-webkit-appearance:none;outline: none !important;}
.setUpManagedOfficeSection .manageOfficeForm form .formGroup img {position: absolute;width: auto;right: 20px;bottom: 23px;}

@media(max-width:1279px){
    .setUpManagedOfficeSection {padding-top: 60px;padding-bottom: 60px;}
    .setUpManagedOfficeSection .sectionSecondHeading .secTwoColorHead br, .setUpManagedOfficeSection .sectionSecondHeading p br {display: none;}
}

@media(max-width:1023px){
    .setUpManagedOfficeSection {padding-top: 30px;padding-bottom: 30px;}
    .setUpManagedOfficeSection .manageOfficeForm form {width: 100%;}
}

@media(max-width:567px){
    .setUpManagedOfficeSection .manageOfficeForm form .formGroup {width: 100%;margin: 0 0 20px;}
    .setUpManagedOfficeSection .manageOfficeForm form .formBtn {margin-top: 10px;text-align: left;}
    .setUpManagedOfficeSection .sectionSecondHeading {margin-bottom: 30px;}
    .setUpManagedOfficeSection .sectionSecondHeading {text-align: left;}
}