.testimonialSection {padding-top: 100px;padding-bottom: 100px;}
.testimonialSection .testimonialContent {position: relative;}
.testimonialSection .testimonialWrap {text-align: center;width: 65%;margin: 0 auto;padding: 0 90px;}
.testimonialSection .testimoImg img{width:133px;height:133px;border-radius:100px;-o-object-fit:cover;object-fit:cover;-o-object-position:center center;object-position:center center;}
.testimonialSection .testimoName .testiNameHead{font-size:24px;line-height:33px;color:#327C93;font-weight:bold;}
.testimonialSection .testimoName p{font-weight:600;font-size:14px;line-height:23px;}
.testimonialSection .testimodec{margin-top:15px;margin-bottom:40px;position: relative;}
.testimonialSection .testimodec p{font-weight:normal;font-size:18px;line-height:36px;}
.testimonialSection .testimonialWrap .testimoImg{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:15px;}
.testimonialSection .testimonialWrap .firstQuat {position: absolute;left: -140px;top: -60px;}
.testimonialSection .testimodec .secondQuat {position: absolute;bottom: -50px;right: -140px;}
.testimonialSection .testimoniBgImg{position:absolute;top:0;left:0;right:0;margin:auto;z-index:-1;bottom:0;}
.testimonialSection .testimoniBgImg img {width: 100%;height: 470px;-o-object-fit: contain;object-fit: contain;-o-object-position: center;object-position: center;}

/* Phi Design Landing Page */
.phiDesingLandingTestimonial .testimoName .testiNameHead {color: #ef9b27;}
@media(max-width: 1279px){
    .testimonialSection {padding-top: 60px;padding-bottom: 60px;}
    .testimonialSection .testimonialWrap {width: 80%;}
}
@media(max-width:1023px){
    .testimonialSection .testimonialWrap{width:100%;padding:0 50px;}
    .testimonialSection .testimonialWrap .firstQuat{left:0;}
    .testimonialSection .testimodec .secondQuat{right:0;}
    .testimonialSection {padding-top: 30px;}
}
@media(max-width: 767px){
    .testimonialSection .testimonialWrap{padding:0;}
    .testimonialSection .testimonialWrap .firstQuat img{width:50%;}
    .testimonialSection .testimodec .secondQuat img{width:50%;}
    .testimonialSection .testimodec .secondQuat{bottom:-30px;text-align: right;}
    .testimonialSection .testimonialWrap .firstQuat{top:-40px;text-align: left;}
    .testimonialSection .testimodec p{font-size:16px;line-height:36px;}
    .testimonialSection .testimoName .testiNameHead {font-size: 20px;line-height: 30px;}
    .testimonialSection .testimoImg img {width: 100px;height: 100px;}
    .testimonialSection {padding-bottom: 40px;}
    .testimonialSection .testimoniBgImg {display: none;}
}