.upCommingEventSection {padding-top: 100px;padding-bottom: 100px;}            
.upCommingEventSection .aboutEventAll{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.upCommingEventSection .aboutEventAll .leftPart{width:50%;padding-right:210px;}
.upCommingEventSection .aboutEventAll .rightPart{width:50%;}
.upCommingEventSection .aboutEventAll .leftPart p{line-height:28px;margin-top:20px;}
.upCommingEventSection .aboutEventAll .rightPart .eventCardHead {font-weight: 600;font-size: 18px;line-height: 25px;margin-bottom: 5px;color: #222222;}
.upCommingEventSection .aboutEventAll .rightPart .eventLocation p {font-size: 12px;line-height: 16px;}
.upCommingEventSection .aboutEventAll .rightPart .eventLocation p img {width: auto;}
.upCommingEventSection .aboutEventAll .rightPart .eventLocation p span {display: block;}
.upCommingEventSection .aboutEventAll .rightPart .eventAttend p {font-size: 10px;line-height: 14px;color: #4F258B;}
.upCommingEventSection .aboutEventAll .rightPart .eventTime{display:-webkit-box;display:-ms-flexbox;display:flex;}
.upCommingEventSection .aboutEventAll .rightPart .eventTime p{font-size:10px;line-height:14px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:50%;}
.upCommingEventSection .aboutEventAll .rightPart .eventTime p span{display:block;color:#565267;}
.upCommingEventSection .aboutEventAll .rightPart .eventTime p:last-child {color: #ABABAB;}
.upCommingEventSection .aboutEventAll .rightPart .evetBoxImg{display:-webkit-box;display:-ms-flexbox;display:flex;border-radius:20px 20px 0 0;overflow:hidden;}
.upCommingEventSection .aboutEventAll .rightPart .eventRightWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-20px;margin-right:-20px;}
.upCommingEventSection .aboutEventAll .rightPart .eventRightWrap .eventBox{width:calc(50% - 40px);margin:0 20px;-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);border-radius: 20px;}
.upCommingEventSection .aboutEventAll .rightPart .evetBoxImg img {width: 100%;border-radius: 20px 20px 0 0;-webkit-transition: .5s all;-o-transition: .5s all;transition: .5s all;-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
.upCommingEventSection .aboutEventAll .rightPart .eventRightWrap .eventBox:hover .evetBoxImg img {-webkit-transition: .5s all;-o-transition: .5s all;transition: .5s all;-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
.upCommingEventSection .aboutEventAll .rightPart .eventRightWrap .eventBox .eventContent {padding: 15px 20px 20px;}
.upCommingEventSection .aboutEventAll .rightPart .eventAttend {margin: 10px 0;}

@media(max-width:1500px){
    .upCommingEventSection .aboutEventAll .rightPart .eventCardHead {font-size: 15px;}
}

@media(max-width:1279px){
    .upCommingEventSection {padding-top: 60px;padding-bottom: 60px;}
    .upCommingEventSection .aboutEventAll .leftPart {padding-right: 70px;}
    .upCommingEventSection .aboutEventAll .rightPart .eventRightWrap{margin-left:-10px;margin-right:-10px;}
    .upCommingEventSection .aboutEventAll .rightPart .eventRightWrap .eventBox{width:calc(50% - 20px);margin:0 10px;}
}
@media(max-width:1023px){                
    .upCommingEventSection .aboutEventAll .leftPart{width:100%;padding-right:0;margin-bottom:25px;}
    .upCommingEventSection .aboutEventAll .rightPart{width:100%;}
    .upCommingEventSection {padding-top: 30px;padding-bottom: 30px;}    
}
@media(max-width:767px){
    .upCommingEventSection .aboutEventAll .rightPart .eventRightWrap .slick-list.draggable {padding-left: 0px !important;}
    .upCommingEventSection .aboutEventAll .rightPart .eventLocation p img {display: inline-block;}
    .upCommingEventSection .aboutEventAll .rightPart .eventRightWrap .eventBox {-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);box-shadow: 0px 0px 15px rgba(0,0,0,0.1);margin-bottom: 15px;}
    .upCommingEventSection .aboutEventAll .rightPart .eventRightWrap {margin-right: -15px;}    
}