.wfmMemberShipSection{padding-top: 100px;padding-bottom: 60px;}
.wfmMemberShipSection .memberSubHead{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:25px;}
.wfmMemberShipSection .memberSubHead .memberIcon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:20px;}
.wfmMemberShipSection .memberSubHead .memberBoxHead{font-weight:500;font-size:18px;line-height:27px;color: #222222;}
.wfmMemberShipSection .memberBoxWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-20px;margin-right:-20px;padding-top: 30px;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.wfmMemberShipSection .memberBoxWrap .memberBox{width:calc(100% / 3 - 40px);-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);border-radius:20px;padding:33px 20px;margin:0 20px 40px;}

/* Collab Proposal Detail Page */
.proposalDetailTestimonial .memberBoxHead .namePost {display: block;font-weight: normal;font-size: 14px;line-height: 28px;color: #565267;}
.proposalDetailTestimonial .proposalHeading {margin-bottom: 50px;}
.proposalDetailTestimonial .proposalHeading .secSubhead {margin-bottom: 20px;}

@media(max-width:1279px){
    .wfmMemberShipSection {padding-top: 60px;padding-bottom: 30px;}
}

@media(max-width:1023px){
    .wfmMemberShipSection {padding-top: 30px;padding-bottom: 15px;}
    .wfmMemberShipSection .memberBoxWrap{margin-top:-10px;margin-right:-10px;}
    .wfmMemberShipSection .memberBoxWrap .memberBox{width:calc(100% / 2 - 20px);margin:0 10px 20px;}
}

@media(max-width:1023px){
    /* Collab Proposal Detail Page */
    .proposalDetailTestimonial .proposalHeading {margin-bottom: 30px;}    
}

@media(max-width:767px){
    .wfmMemberShipSection .memberBoxWrap .memberBox .memberContent{display:none;}
    .wfmMemberShipSection .memberSubHead{margin-bottom:0;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
    .wfmMemberShipSection .memberBoxWrap{margin-left:-10px;}
    .wfmMemberShipSection .memberSubHead .memberIcon{margin-bottom:20px;margin-right: 0;}
    .wfmMemberShipSection .memberBoxWrap .memberBox {text-align: center;padding: 10px 10px;-webkit-box-shadow: none;box-shadow: none;}
    .wfmMemberShipSection .memberSubHead .memberBoxHead {font-size: 16px;}

    /* Collab Proposal Detail Page */
    .proposalDetailTestimonial .memberBoxWrap .memberBox {-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);box-shadow: 0px 0px 30px rgba(0,0,0,0.1);}
}

@media(max-width:567px){
    .wfmMemberShipSection .memberBoxWrap{margin-left:0;margin-right:0;}

    /* Collab Proposal Detail Page */
    .proposalDetailTestimonial .memberBoxWrap .memberBox {width: 100%;}
}