/* Common Css */
.whatsMainBannerSlider .bannerWhatsWrap {margin-bottom: 0;}
.tempHeader{height:99px;position:fixed;background-color:#000;z-index:1111;width:100%;}
.whatsNewBanner{height:calc(100vh - 99px);/*margin-top:99px;*/overflow:hidden;}
.whatsNewBannerContent .whatsNewBannerHeading{font-weight:600;font-size:58px;line-height:80px;color:#222222;}
.whatsNewBannerContent .whatsNewBannerHeading span {color: #327C93;}
.whatsNewBannerContent p{font-size:24px;line-height:50px;margin-top:15px;margin-bottom:50px;}
.whatsMainBannerSlider .bannerWhatsWrap .whatsMainBox {border: none;transition: 1s all;opacity: 0;}
.whatsMainBannerSlider .bannerWhatsWrap .whatsMainBox.slick-active {opacity: 1;transition: 1s all;}
.whatsMainBannerSlider .bannerWhatsWrap .slick-dots {bottom: auto;width: 2%;top: 45%;left: 10px;}
.whatsMainBannerSlider .bannerWhatsWrap .slick-dots li button::before {font-size: 40px;transition: .5s all;}
.whatsMainBannerSlider .slick-dots li button:focus:before {opacity: 0.25;}
.whatsMainBannerSlider .bannerWhatsWrap .slick-dots li.slick-active button:before {opacity: 1;color: #000;}
.whatsMainBannerSlider .bannerWhatsWrap .slick-dots li {width: 10px;height: 10px;}

/* Client Turned Family */
.clientTurnBanner{display:flex;flex-wrap:wrap;align-items:center;}
.clientTurnBanner .leftPart{width:44%;display:flex;align-items:center;justify-content:center;}
.clientTurnBanner .rightPart{width:56%;padding-left:50px;}
.clientTurnBanner .leftPart img {object-fit: cover;object-position: center center;height:calc(100vh - 99px);}
.clientTurnBanner .leftPart .clientMobileImg {display: none;}
.clientTurnBanner .whatsNewBannerContent {width: 72%;}
.clientTurnBanner .rightPart .clientTurnBannerSlider{margin-top:75px;margin-bottom:0;margin-left: -15px;}
.clientTurnBanner .rightPart .clientTurnBannerSlider .slick-list {padding-left: 0 !important;}
.clientTurnBanner .rightPart .clientTurnBannerSlider .clientTrunBox{margin:0 15px;}
/* .clientTurnBanner .rightPart .clientTurnBannerSlider .slick-dots {bottom: -30px;}
.clientTurnBanner .rightPart .clientTurnBannerSlider .slick-dots li button::before {font-size: 40px;} */

/* Launched DevX Venture Fund */
.launchedVentureFund .launchFundMainWrap {margin-top: 60px;}
.launchedVentureFund .launchFundMainWrap .leftPart {position: relative;}
.launchedVentureFund .launchFundMainWrap .rightPart {display: flex;align-items: center;justify-content: flex-end;}
.launchedVentureFund .launchFundMainWrap .rightPart .bannerBigImg{display: flex;align-items: center;justify-content: flex-end;}
.launchedVentureFund .launchFundMainWrap .triangleCircle {position: absolute;bottom: -15px;left: 29%;display: flex;align-items: center;justify-content: center;z-index: -1;}
.launchedVentureFund .bannerDots {position: absolute;right: -60px;bottom: -70px;z-index: -1;}
.launchedVentureFund .bannerCircle{position:absolute;top:-30px;left:-210px;z-index:-1;}

/* Rebranding Contest */
.rebrandingContest{position:relative;}
.rebrandingContest .launchFundMainWrap{margin-top:60px;}
.rebrandingContest .launchFundMainWrap .bannerBigImg{position:absolute;top:0;right:0;width:50%;}
.rebrandingContest .launchFundMainWrap .leftPart{width:50%;position: relative;}
.rebrandingContest .launchFundMainWrap .leftPart .triangleCircle{position:absolute;top:0;left:-120px;display:flex;width:13%;z-index:-1;}
.rebrandingContest .bannerDots{position:absolute;left:40%;bottom:-37px;z-index:-1;width:6%;display:flex;}
.rebrandingContest .bannerCircle {position: absolute;bottom: -75px;left: -30px;}

/* The RUPyya Trio */
.theRupyyaTrio {position: relative;}
.theRupyyaTrio .launchFundMainWrap {margin-top: 25px;}
.theRupyyaTrio .launchFundMainWrap .whatsNewBannerContent p {margin-bottom: 35px;}
.theRupyyaTrio .launchFundMainWrap .rightPart{justify-content:center;margin-top:50px;}
.theRupyyaTrio .launchFundMainWrap .rightPart .bannerVideo{position:relative;padding-top:33%;width:58.75%;}
.theRupyyaTrio .launchFundMainWrap .rightPart .bannerVideo iframe{position:absolute;top:0;left:0;right:0;margin:auto;width:100%;height:100%;}
.theRupyyaTrio .bannerCircle {bottom: -90px;top: auto;left: 30px;}
.theRupyyaTrio .triangleCircle {position: absolute;top: 90px;left: 5%;width: 4.3%;z-index: -1;}
.theRupyyaTrio .bannerDots {bottom: -130px;right: -90px;}

/* Super Heros */
.superHerosBanner {position: relative;}
.superHerosBanner .launchFundMainWrap{margin-top:40px;display:flex;flex-wrap:wrap;justify-content:space-between;}
.superHerosBanner .launchFundMainWrap .leftPart{width:53%;position: relative;}
.superHerosBanner .launchFundMainWrap .leftPart .whatsNewBannerContent p {padding-right: 75px;}
.superHerosBanner .launchFundMainWrap .rightPart {width: 47%;}
.superHerosBanner .launchFundMainWrap .rightPart .superMobile {display: none;}
.superHerosBanner .launchFundMainWrap .leftPart .triangleCircle{position:absolute;top:0;left:-120px;display:flex;width:13%;z-index:-1;}
.superHerosBanner .bannerDots{position:absolute;left:40%;bottom:0;z-index:-1;width:auto;display:flex;height:130px;}
.superHerosBanner .bannerDots img {object-fit: cover;object-position: top center;}
.superHerosBanner .bannerCircle {position: absolute;bottom: -75px;left: -30px;}
.superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading {margin-bottom: 30px;}
.superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading span{color:#000;position:relative;display: inline-block;}
.superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading span:before{position:absolute;content:'';left:0;right:0;bottom:-6px;width:100%;height:40px;background-color:#EF9B27;z-index:-1;}

@media(max-width:1500px){
    /* Common Css */
    .whatsNewBannerContent .whatsNewBannerHeading {font-weight: 600;font-size: 47px;line-height: 50px;color: #222222;}

    /* Client Turned Family */
    .clientTurnBanner .rightPart .clientTurnBannerSlider{margin-top:50px;margin-left: -10px;}
    .whatsNewBannerContent p {font-size: 16px;line-height: 30px;margin-top: 10px;margin-bottom: 20px;}
    .clientTurnBanner .rightPart .clientTurnBannerSlider .clientTrunBox{margin:0 10px;}

    /* Launched DevX Venture Fund */
    .launchedVentureFund .launchFundMainWrap {margin-top: 30px;}
    .launchedVentureFund .launchFundMainWrap .rightPart .bannerBigImg {width: 60%;margin-top: -60px;margin-right: 110px;}

    /* Rebranding Contest */
    .rebrandingContest .launchFundMainWrap .leftPart .triangleCircle {left: -100px;}

    /* The RUPyya Trio */
    .theRupyyaTrio .launchFundMainWrap .rightPart {justify-content: center;margin-top: 30px;}
    .theRupyyaTrio .launchFundMainWrap .rightPart .bannerVideo {padding-top: 22%;width: 39.1%;}
    .theRupyyaTrio .bannerDots {right: 0;}
    .theRupyyaTrio .launchFundMainWrap .whatsNewBannerContent p {margin-bottom: 25px;}

    /* Super Heros */  
    .superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading {line-height: 60px;}  
    .superHerosBanner .launchFundMainWrap .rightPart .bannerBigImg {width: 80%;margin: 0 auto;}
    .superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading span:before{bottom:-3px;height:30px;}
}

@media(max-width:1279px){
    /* Common Css */
    .whatsNewBannerContent .whatsNewBannerHeading {font-size: 35px;line-height: 40px;}

    /* Client Turned Family */
    .clientTurnBanner .leftPart {width: 50%;}
    .clientTurnBanner .rightPart {width: 50%;padding-left: 30px;}
    .clientTurnBanner .whatsNewBannerContent {width: 90%;}
    .clientTurnBanner .rightPart .clientTurnBannerSlider .slick-list{padding-right:150px !important;}
    .clientTurnBanner .rightPart .clientTurnBannerSlider{margin-top:30px;margin-left:-5px;}
    .clientTurnBanner .rightPart .clientTurnBannerSlider .clientTrunBox{margin:0 5px;}

    /* Launched DevX Venture Fund */
    .launchedVentureFund .launchFundMainWrap .rightPart .bannerBigImg{width:76%;margin-top:0;margin-right:0;}
    .launchedVentureFund .launchFundMainWrap .rightPart .bannerBigImg {margin-top: 40px;}
    .launchedVentureFund .bannerDots {right: -20px;width: 10%;}

    /* The RUPyya Trio */
    .theRupyyaTrio .launchFundMainWrap .rightPart .bannerVideo {padding-top: 36%;width: 63.9%;}

    /* Super Heros */
    .superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading {line-height: 45px;margin-bottom: 15px;}
    .superHerosBanner .launchFundMainWrap .rightPart .bannerBigImg {width: 100%;}
    .superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading span:before {bottom: 0px;height: 20px;}
}

@media(max-width:1023px){
    /* Common Css */
    .tempHeader{height:70px;}
    .whatsNewBannerContent .whatsNewBannerHeading br{display:none;}
    .whatsNewBannerContent p br{display:none;}

    /* Client Turned Family */
    .whatsNewBanner {margin-top: 70px;}
    .clientTurnBanner .leftPart{width:100%;}
    .clientTurnBanner .leftPart img{object-position:top center;height:470px;}
    .clientTurnBanner .rightPart{width:100%;padding-left:15px;margin-top:20px;}
    .clientTurnBanner .whatsNewBannerContent{width:100%;padding-right:15px;}
    

    /* Launched DevX Venture Fund */
    .launchedVentureFund .launchFundMainWrap .rightPart .bannerBigImg {width: 100%;}
    .launchedVentureFund .launchFundMainWrap .rightPart {margin-top: 30px;}

    /* Rebranding Contest */
    .rebrandingContest .launchFundMainWrap .leftPart {margin-top: 90%;width: 100%;z-index: 1;}
    .rebrandingContest .launchFundMainWrap .bannerBigImg {width: 100%;}
}

@media(max-width:767px){
    /* Rebranding Contest */
    .rebrandingContest .bannerDots, .rebrandingContest .bannerCircle, .theRupyyaTrio .triangleCircle, .theRupyyaTrio .bannerCircle, .launchedVentureFund .bannerDots, 
    .superHerosBanner .bannerDots {display: none;}

    /* The RUPyya Trio */
    .theRupyyaTrio .launchFundMainWrap .rightPart {margin-top: 30px;}
}

@media(max-width:567px){
    /* Common Css */
    .whatsNewBannerContent p br {display: none;}
    .whatsNewBannerContent .whatsNewBannerHeading {font-size: 24px;line-height: 32px;}
    .whatsNewBannerContent .siteGreenBtn a {font-size: 14px;padding: 12px 40px;}
    .whatsNewBannerContent p {margin-bottom: 15px;line-height: 24px;font-size: 14px;}
    .whatsMainBannerSlider .bannerWhatsWrap .slick-dots {width: 100%;bottom: 20px;top: auto;left: -10px;}
    /* .whatsNewBanner {height: initial;} */
    .whatsMainBannerSlider, .whatsMainBannerSlider .bannerWhatsWrap {/* padding-bottom: 50px; */height: 100vh;}

    /* Client Turned Family */
    .clientTurnBanner {display: block;}
    .clientTurnBanner .leftPart img {object-position: top center;height: 150px;}
    .clientTurnBanner .rightPart .clientTurnBannerSlider .slick-list {padding-right: 50px !important;}
    .clientTurnBanner .leftPart img {height: 230px;}
    .clientTurnBanner .leftPart .clientMobileImg{display:block;margin-top: -1px;}
    .clientTurnBanner .leftPart .clientDesktopImg{display:none;}

    /* Launched DevX Venture Fund */
    .launchedVentureFund .launchFundMainWrap .rightPart {margin-top: 50px;}
    .launchedVentureFund .bannerDots {right: 0;width: 20%;}
    .launchedVentureFund .launchFundMainWrap .triangleCircle {width: 15%;left: 50%;bottom: 0;}
    .rebrandingContest .launchFundMainWrap .leftPart {margin-top: 97%;}

    /* The RUPyya Trio */
    .theRupyyaTrio .launchFundMainWrap .rightPart {margin-bottom: 30px;margin-top: 0;}
    .theRupyyaTrio .launchFundMainWrap {flex-direction: column-reverse;display: flex;}
    .theRupyyaTrio .launchFundMainWrap .rightPart .bannerVideo {width: 100%;padding-top: 56.3%;}

    /* Super Heros */
    .superHerosBanner {padding-bottom: 70px;}
    .superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading span:before {height: 15px;}
    .superHerosBanner .launchFundMainWrap .leftPart{width:100%;position: initial;}
    .superHerosBanner .launchFundMainWrap .rightPart{width:100%;margin-top: 10px;margin-bottom: 10px;}
    .superHerosBanner .launchFundMainWrap .rightPart .superDesktop{display:none;}
    .superHerosBanner .launchFundMainWrap .rightPart .superMobile{display:block;}
    .superHerosBanner .launchFundMainWrap .leftPart .whatsNewBannerContent p{padding-right:0;margin-bottom: 0;}
    .superHerosBanner .launchFundMainWrap{margin-top:15px;position: relative;}
    .superHerosBanner .whatsNewBannerContent .whatsNewBannerHeading{line-height:32px;margin-bottom: 0;}
    .superHerosBanner .launchFundMainWrap .leftPart .siteGreenBtn {position: absolute;bottom: -35px;}
}

@media(max-width:400px){
    .clientTurnBanner .leftPart img {height: 150px;}
}