.workSpaceSection{padding-bottom:100px;padding-top: 100px;}
.workSpaceSection .workSpaceMainBox{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left: -20px;margin-right: -20px;}
.workSpaceSection .workSpaceMainBox .workBox{width:calc(100% / 4 - 40px);-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);border-radius:20px;margin: 0 20px;}
.workSpaceSection .workSpaceMainBox .workImg{display:-webkit-box;display:-ms-flexbox;display:flex;border-radius:20px 20px 0 0;overflow:hidden;}
.workSpaceSection .workSpaceMainBox .workImg img{border-radius:20px 20px 0 0;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.workSpaceSection .workSpaceMainBox .workBox:hover .workImg img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.workSpaceSection .workSpaceMainBox .workBox .workContent{padding:25px 15px;}
.workSpaceSection .workSpaceMainBox .workBox .workContent .workCardHead{font-weight:600;font-size:18px;line-height:25px;margin-bottom:10px;color: #222222;}
.workSpaceSection .workSpaceMainBox .workBox .workContent .workCardHead a{font-weight:600;font-size:18px;line-height:25px;color:#222222;margin-top:0;}
.workSpaceSection .workSpaceMainBox .workBox .workContent p{font-size:14px;line-height:21px;}
.workSpaceSection .workSpaceMainBox .workBox .workContent a {margin-top: 15px;display: inline-block;color: #327C93;font-size: 14px;}
.workSpaceSection .workSpaceMainBox .workBox .workContent a img {margin-left: 15px;width: 7px;}
.workSpaceSection .workSpaceMainBox .workImg a {display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;}

/* Collab Managed Office City wise page */
.collabManagedOfficeCityPageWorkSpace .workSpaceMainBox .workImg img {-webkit-transform: scale(1) !important;-ms-transform: scale(1) !important;transform: scale(1) !important;}
.collabManagedOfficeCityPageWorkSpace .siteBtn {text-align: center;margin-top: 50px;}

/* Accel Ai and Iot Page */
.accelAiIOTWorkSpaceSection .workSpaceMainBox .workImg a {height: 184px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.accelAiIOTWorkSpaceSection .workSpaceMainBox .workImg a img {-webkit-transform: scale(1) !important;-ms-transform: scale(1) !important;transform: scale(1) !important;width: auto;margin: 20px auto 0;}

/* Covid Page */
.covidWorkSpaceSection .workSpaceMainBox .workBox .workContent .workCardHead {margin-bottom: 0;}

/* Collab Individual Service Pages */
.collabIndividialServiceWorkspace{padding-bottom:100px;padding-top: 100px;}
.collabIndividialServiceWorkspace .workSpaceMainBox{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left: -20px;margin-right: -20px;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox{width:calc(100% / 3 - 40px);-webkit-box-shadow:0px 0px 30px rgba(0,0,0,0.1);box-shadow:0px 0px 30px rgba(0,0,0,0.1);border-radius:20px;margin: 0 20px;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workImg{display:-webkit-box;display:-ms-flexbox;display:flex;border-radius:20px 20px 0 0;overflow:hidden;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workImg img{border-radius:20px 20px 0 0;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox:hover .workImg img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent{padding:25px 15px;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent .workCardHead{font-weight:600;font-size:18px;line-height:25px;margin-bottom:10px;color: #222222;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent .workCardHead a{font-weight:600;font-size:18px;line-height:25px;color: #222222;margin-top: 0;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent p{font-size:14px;line-height:21px;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent a {margin-top: 15px;display: inline-block;color: #327C93;font-size: 14px;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent a img {margin-left: 15px;width: 7px;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workImg a {display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent a img {vertical-align: middle;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent .siteBtn a {color: #fff;}
.collabIndividialServiceWorkspace .workSpaceMainBox .workBox .workContent .siteBtn a:hover {color: #327C93;}

/* Collab Advertisement Page */
.collabAdvertiseWork .sectionhead{margin-left:auto;margin-right:auto;width:90%;}
.collabAdvertiseWork .sectionhead p{margin-top:20px;}

@media(max-width: 1279px){
    .workSpaceSection {padding-bottom: 60px;padding-top: 60px;}
    .workSpaceSection .workSpaceMainBox .workBox {width: calc(100% / 4 - 20px);margin: 0 10px;}
    .workSpaceSection .workSpaceMainBox {margin-left: -10px;margin-right: -10px;}

    /* Collab Individual Service Pages */
    .collabIndividialServiceWorkspace{padding-bottom:60px;padding-top: 60px;}
    
}
@media(max-width: 1023px){
    .workSpaceSection .workSpaceMainBox .workBox {width: calc(100% / 2 - 20px);margin: 10px 10px 20px;}                
    .workSpaceSection {padding-bottom: 30px;padding-top: 40px;}

    /* Collab Individual Service Pages */
    .collabIndividialServiceWorkspace{padding-bottom:30px;padding-top: 40px;}
    .collabIndividialServiceWorkspace .workSpaceMainBox .workBox{width:calc(100% / 2 - 20px);margin: 0 10px 20px;}

    /* Collab Advertisement Page */
    .collabAdvertiseWork .sectionhead{width:100%;}
}
@media(max-width:767px){
    .workSpaceSection .workSpaceMainBox .slick-list.draggable {padding-left: 0px !important;}
    .workSpaceSection .workSpaceMainBox .workBox .workContent a img {display: inline-block;}
    .workSpaceSection .workSpaceMainBox .workBox {-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);box-shadow: 0px 0px 15px rgba(0,0,0,0.1);}
    .workSpaceSection .workSpaceMainBox {margin-right: -15px;margin-bottom: -20px !important;}
}

@media(max-width:567px){
    /* Collab Individual Service Pages */
    .collabIndividialServiceWorkspace .workSpaceMainBox .workBox{width:100%;margin-left:0;margin-right:0;}
    .collabIndividialServiceWorkspace .workSpaceMainBox{margin-left:0;margin-right:0 !important;}
}

/* Collab Landing Page */
.collabLandingWorkSpace .workSpaceMainBox .workBox:nth-child(1), 
.collabLandingWorkSpace .workSpaceMainBox .workBox:nth-child(2), 
.collabLandingWorkSpace .workSpaceMainBox .workBox:nth-child(3), 
.collabLandingWorkSpace .workSpaceMainBox .workBox:nth-child(4) {margin-bottom: 40px;}