.leftRightYellowImgSection{padding-top:100px;padding-bottom:100px;}
.leftRightYellowImgSection .yellowImgWrap{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom: 30px;}
.leftRightYellowImgSection .yellowImgWrap > div{width:calc(100% / 2 - 0px);}
.leftRightYellowImgSection .yellowImgWrap .rightPart{padding-left:90px;padding-right: 90px;}
.leftRightYellowImgSection .yellowImgWrap .rightPart .yellowImgHeading{font-size:28px;line-height:42px;color:#222222;font-weight: 500;}
.leftRightYellowImgSection .yellowImgWrap .rightPart p{margin-top:20px;}
.leftRightYellowImgSection .yellowImgWrap .leftPart {text-align: center;}
.leftRightYellowImgSection .yellowImgWrap .leftPart img {width: 75%;}
.leftRightYellowImgSection .yellowImgWrap:nth-child(2n) {-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
.leftRightYellowImgSection .yellowImgWrap:last-child {margin-bottom: 0;}

/* Phi Desing Third Section */
.phiDesingTechnLetRighSection .sectionSecondHeading {text-align: center;width: 75%;margin-left: auto;margin-right: auto;}

/* Haas About Hackathon Page */
.aboutHackathonPageYellowImgSection {padding-top: 30px;}
.aboutHackathonPageYellowImgSection .yellowImgWrap {margin-bottom: 100px;}
.aboutHackathonPageYellowImgSection .yellowImgWrap .leftPart img {width: auto;}

@media(max-width: 1279px){
    .leftRightYellowImgSection {padding-top: 60px;padding-bottom: 60px;}
    .leftRightYellowImgSection .yellowImgWrap .rightPart {padding-left: 50px;}
    .leftRightYellowImgSection .yellowImgWrap .rightPart .yellowImgHeading {font-size: 25px;line-height: 39px;}
}
@media(max-width: 1023px){
    .leftRightYellowImgSection {padding-top: 30px;padding-bottom: 30px;}
    .leftRightYellowImgSection .yellowImgWrap > div {width: 100%;}
    .leftRightYellowImgSection .yellowImgWrap .rightPart {padding-left: 0;margin-bottom: 30px;}
    .leftRightYellowImgSection .yellowImgWrap{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
    .leftRightYellowImgSection .yellowImgWrap:nth-child(2n){-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;}
    .leftRightYellowImgSection .yellowImgWrap .rightPart{padding-right:0;}

    /* Phi Desing Third Section */
    .phiDesingTechnLetRighSection .sectionSecondHeading {width: 100%;}

    /* Haas About Hackathon Page */
    .aboutHackathonPageYellowImgSection .yellowImgHeading br {display: none;}
    .aboutHackathonPageYellowImgSection .yellowImgWrap {margin-bottom: 50px;}
}
@media(max-width: 767px){
    .leftRightYellowImgSection .yellowImgWrap .rightPart .yellowImgHeading {font-size: 20px;line-height: 30px;}
    .leftRightYellowImgSection .yellowImgWrap .rightPart p {margin-top: 15px;}
    .leftRightYellowImgSection .yellowImgWrap .leftPart img {width: 100%;}
    .leftRightYellowImgSection .yellowImgWrap .rightPart .yellowImgHeading br {display: none;}
}   